@import '../../../../../../styles/styles.scss';


.icon-color {
    color: $icon-color;
}

.w-10 {
    width: 10%;
}

.main-board {
    height: 70vh !important;
}

.submenu-sidebar-menus {
    cursor: pointer;
}

.master-content {
    height: 100%;
    font-family: $fonts;

    .main-board {

        background-color: $white-color;
        border-radius: $border8;
        border: 1px solid $border-color;
        display: block;
        width: 100%;
        padding: 22px 24px;

        .board-content {
            table {
                tr {
                    td {
                        color: $grey-text;
                        font-size: $fonts-content;
                    }
                }

                .toggle-btn {
                    input {
                        display: none;
                    }

                    .bg-toggle {
                        display: block;
                        height: 24px;
                        width: 40px;
                        background-color: $toggle-off;
                        position: relative;
                        border-radius: 50px;

                        &::after {
                            content: '';
                            position: absolute;
                            height: 22px;
                            width: 22px;
                            background-color: $white-color;
                            border-radius: 50px;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 1px;
                            transition: .3s;
                        }
                    }

                    #on1:checked~.bg-toggle,
                    #on2:checked~.bg-toggle,
                    #on3:checked~.bg-toggle,
                    #on4:checked~.bg-toggle,
                    #on5:checked~.bg-toggle,
                    #on6:checked~.bg-toggle {
                        background-color: $toggle-on;

                        &::after {
                            left: auto;
                            right: 1px;
                        }
                    }
                }

                // .action-icn{
                //     height: 35px;
                //     width: 35px;
                //     border-radius: 50px;
                // }
                // .edit-icon{
                //     background-color: $action-edit;
                //     color:var(--theme-color);
                // }
                // .delete-icon{
                //     background-color: $action-delete;
                //     color: $action-deletebg;
                // }
            }

            .borad-footer {
                padding: 20px 0px;
                border-top: 1px dashed $border-color;

                .footer-left {
                    .dropdown-page {
                        display: inline-block;
                        padding: 8px 12px;
                        font-size: $fonts-content;
                        color: $grey-text;
                        border: 1px solid $border-color;
                        border-radius: 4px;
                        height: 40px;

                        i {
                            font-size: 12px;
                        }
                    }

                    p {
                        font-size: $fonts-content;
                        color: $grey-text;
                    }
                }
            }
        }
    }
}

.code-type-section {
    .submenu-sidebar {
        border: 1px solid $dashborad-border !important;
        background-color: $white-color !important;
        width: 200px;
        height: 92.5vh;
        background-color: $white-color;
        padding: 0px 9px;

        .sidebar-header {
            text-align: center;

            .header-icon-detail {
                padding: 27px 0px 10px 0px;

                .header-icon {
                    svg {
                        width: 28px;
                        height: 28px;
                        color: var(--theme-color);
                    }
                }

                p {
                    color: var(--theme-color);
                    font-size: $fonts-content;
                }

            }

            .header-add {
                display: flex;
                justify-content: flex-end;

                span {
                    height: 30px;
                    width: 30px;
                    border-radius: 3px;
                    display: inline-block;
                    background-color: var(--theme-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        height: 20px;
                        width: 20px;
                        color: $white-color;
                    }
                }
            }
        }

        .submenu-sidebar-menus {
            li {
                a {
                    transition: .3s;
                    padding: 10px 0px 10px 15px;
                    display: block;
                    font-size: $fonts-content;
                    color: $grey-text;
                    text-decoration: none;
                    background-color: transparent;
                }

                &:hover {
                    a {
                        background-color: var(--light-theme);
                        color: var(--theme-color);
                    }
                }
            }
        }
    }

}

.cdk-overlay-container {
    z-index: 99999 !important;
}

.main-client-card {
    display: flex;
}

@media screen and (max-width:991px) {
    .card {
        margin: 0px !important;
    }
}

@media screen and (max-width:1560px) {
    .card {
        .client-cart {
            padding: 15px !important;

            .left-card-side {
                p {
                    max-width: 90px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        // .row {
        //     gap: 16px;
        // }
    }

    // .client-cart,
    // .cart-design {
    //     max-width: 190px !important;
    //     min-width: 190px !important;
    // }
}

@media screen and (max-width:1299px) {


    // .client-cart,
    // .cart-design {
    //     max-width: 150px !important;
    //     min-width: 150px !important;
    // }



    // .card .row {
    //     gap: 15px;
    // }

    .left-card-side {
        order: 2;
        width: 100%;
        text-align: center;
    }

    .card-item {
        order: 1;
    }

    .main-client-card {
        flex-wrap: wrap;
    }

    .main-client-card {
        width: 100%;
    }

    .card .client-cart .left-card-side p {
        max-width: 100%;
    }

    .card .client-cart .card-item {
        margin: auto;
        margin-bottom: 10px;
    }
}

@media screen and (min-width:1299px) {
    // .menu-collapsed .cart-design .menu-collapsed .client-cart {
    //     max-width: 130px !important;
    //     min-width: 130px !important;
    // }
}

@media screen and (max-width:767px) {
    .cart-design {
        max-width: 100% !important;
        padding-right: 0px !important;
    }

    .left-card-side {
        p {
            max-width: 100% !important;
            width: 100% !important;
        }
    }
}

@media screen and (max-width:767px) {

    .client-cart,
    .cart-design {
        max-width: 100% !important;
        padding-right: 0px !important;
    }
}

@media screen and (max-width: 991px) {
    .breadcrumb {
        margin-bottom: 18px !important;
    }
}