@import '../../../../../../styles/styles.scss';


.ng-select-unselected {
    border: 1px solid #FA6060 !important;
    border-radius: 5px;
}

.search-input .ng-placeholder {
    padding-top: 3px !important;
}