<div class="borad-header p-0 d-flex align-items-center justify-content-between me-4 mt-2 flex-wrap ms-4 ">
    <h4 class="innerform-title mb-3 mt-3">
        <p *ngIf="showTitle" class="fw-medium">
            Finance Details
        </p>
    </h4>
    <ng-container *ngIf="documentType.length != 0">
        <div class="header-buttons d-flex mt-2" (click)="addFinacialDetails()">
            <div class="add-newBtn cursor">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                    <path fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M5 12h14m-7 7V5" />
                </svg>
                Add New
            </div>
        </div>
    </ng-container>
</div>
<div class="borad-body doc-details p-4 pt-2 mt-2">
    <div class="row gy-4">
        <p class="text-center py-3" *ngIf="financeDetailsData.length === 0">No data found</p>

        <div class="col-xl-4 col-lg-6 col-12 details-card-design" *ngFor="let item of financeDetailsData">
            <div class="card-design">
                <div class="card-header py-0 d-flex justify-content-between px-4 align-items-center"
                    style="padding-top: 0px !important; padding-bottom: 0px !important;">
                    <div>
                        <p>{{item.type}}</p>
                    </div>
                    <div class="edit-icn d-flex" *ngIf="IsCurrentMonth">
                        <div class="edit-icon d-flex justify-content-center align-items-center action-icn me-2 cursor"
                            (click)="editdoc(item)" mat-raised-button matTooltip="Edit" [matTooltipPosition]="'left'"
                            [matTooltipShowDelay]="showDelay.value" [matTooltipHideDelay]="hideDelay.value"
                            aria-label="Edit">
                            <icon-edit></icon-edit>
                        </div>

                        <div class="delete-icon d-flex justify-content-center align-items-center action-icn cursor" *ngIf="IsCurrentMonth"
                            (click)="deletedoc(item);" mat-raised-button matTooltip="Delete"
                            [matTooltipPosition]="'right'" [matTooltipShowDelay]="showDelay.value"
                            [matTooltipHideDelay]="hideDelay.value" aria-label="Delete">
                            <icon-delete></icon-delete>
                        </div>
                    </div>
                </div>
                <div class="card-body p-4">
                    <div class="row gy-3">
                        <div class="col-6">
                            <h4 class="mb-1">Name</h4>
                            <p>{{item.name}}</p>
                        </div>
                        <div class="col-6">
                            <h4 class="mb-1" *ngIf="item.type === 'Bank Details'">Account Number</h4>
                            <h4 class="mb-1" *ngIf="item.type === 'PAN Card'">PAN Number</h4>
                            <h4 class="mb-1" *ngIf="item.type === 'Aadhaar Card'">Aadhaar Card Number</h4>
                            <p>{{item.number}}</p>
                        </div>
                        <div style="height: 48px;" class="col-6">
                            <div *ngIf="item.type === 'Bank Details'">
                                <h4 class="mb-1">Account Type</h4>
                                <p>{{item.accountType}}</p>
                            </div>
                        </div>
                        <div style="height: 48px;" class="col-6">
                            <div *ngIf="item.type === 'Bank Details'">
                                <h4 class="mb-1">IFSC Code</h4>
                                <p>{{item.ifscCode}}</p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 mt-2 d-flex justify-content-center">
                                    <ng-container
                                        *ngIf="item.attachmentFile === 'http://nirghoshapi.teamopine.com/uploads/' || 
                                        item.attachmentFile === null || item.attachmentFile === undefined || item.attachmentFile === ''">

                                    </ng-container>

                                    <ng-container
                                        *ngIf="item.attachmentFile != 'http://nirghoshapi.teamopine.com/uploads/' && 
                                        item.attachmentFile != null && item.attachmentFile != undefined && item.attachmentFile != ''">
                                        <div class="document-img" *ngIf="item.attachmentURL != baseImageUrl + 'null'">
                                            <img [src]="item.attachmentURL" alt="">
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Finacial Details popup modal -->
<div bsModal #AddFinacialDetailsModel="bs-modal" class="modal fade " tabindex="-1" aria-labelledby="exampleModalLabel"
    [config]="{backdrop: 'static'}" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog popup-design right-sidebar-panel">
        <div class="modal-content px-2">
            <div class="modal-header popup-header justify-content-between d-flex">
                <h5 class="modal-title" id="exampleModalLabel">Add Financial Details</h5>
                <span class="d-block" (click)="addFinacialDetailsModel?.hide()">
                    <icon-ModalClose></icon-ModalClose>
                </span>
            </div>
            <div class="modal-body bg-white py-4">
                <form [formGroup]="financeDetailsForm" #formDirective="ngForm">
                    <div class="row gy-3">
                        <div class="col-12">
                            <ng-container *ngIf="financeDetailsForm.controls['id']?.value">
                                <div class="proff-name mb-1">
                                    <span>{{financeDetailsForm.controls['type'].value}}</span>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="!financeDetailsForm.controls['id']?.value">
                                <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                    <mat-label>Type</mat-label>
                                    <mat-select formControlName="type" (selectionChange)="onTypeChange($event)">
                                        <mat-option *ngFor="let item of documentType"
                                            [value]="item.name">{{item.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </ng-container>

                        </div>
                        <div class="col-12">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Full Name as per Document</mat-label>
                                <input matInput name="name" required formControlName="name"
                                    oninput="this.value = this.value.toUpperCase()">
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label *ngIf="selectedtype === 'Bank Details'">Account Number</mat-label>
                                <mat-label *ngIf="selectedtype === 'PAN Card'">PAN Number</mat-label>
                                <mat-label *ngIf="selectedtype === 'Aadhaar Card'">Aadhaar Card Number</mat-label>

                                <input matInput name="number" formControlName="number"
                                    oninput="this.value = this.value.toUpperCase()">
                            </mat-form-field>
                        </div>
                        <div class="col-12" *ngIf="selectedtype === 'Bank Details'">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>IFSC Code</mat-label>
                                <input matInput name="number" formControlName="ifscCode"
                                    oninput="this.value = this.value.toUpperCase()">
                            </mat-form-field>
                        </div>
                        <div class="col-12" *ngIf="selectedtype === 'Bank Details'">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Account Type</mat-label>
                                <mat-select formControlName="accountType">
                                    <mat-option *ngFor="let item of accountType"
                                        [value]="item.name">{{item.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-12 mt-2">
                            <!-- <h6 class="innerform-title fw-medium mb-1" style="font-size: 14px !important;">Document</h6> -->
                            <div class="cursor" *ngIf="!files.length" appDrag (files)="filesDropped($event)"
                                (fileSizeError)="handleFileSizeErrors($event)"
                                (click)="triggerProfileFileInput(fileInput)">
                                <div
                                    class="input-group choose-file dragdrop-file d-flex flex-wrap w-100 flex-wrap justify-content-center">
                                    <div class="browse-icn w-100 text-center mb-2">
                                        <icon-BrowsFile></icon-BrowsFile>
                                    </div>

                                    <p class="w-100 text-center mb-1">Drag & Drop Upload File</p>
                                    <span class="w-100 text-center mb-1">OR</span>
                                    <button class="browse-btn">Browse File</button>
                                    <input type="file" #fileInput style="display: none;" accept=".jpg,.jpeg,.png"
                                        name="profilePicPath" (change)="onDocumentFileSelected($event)" />
                                </div>
                            </div>

                            <div class="file-info mt-2" *ngFor="let file of files">
                                <i *ngIf="file.name.endsWith('.xls') || file.name.endsWith('.xlsx')"
                                    class="fas fa-file-excel me-2" style="color: red;"></i>
                                <span class="file-name">{{ file.name }}</span>
                                <button type="button" class="btn btn-close" (click)="removeFile()"></button>
                            </div>
                        </div>

                        <div class="modal-footer popup-footer px-0 d-flex mt-3">
                            <button type="submit" class="btn btn-save mx-0 p-footerbtns w-100"
                                (click)="submit()">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>