<div class="login">
    <div class="container-fluid">
        <div class="row no-gutter">
            <!-- The content half -->
            <div class="col-md-6 bg-light">
                <div class="login d-flex align-items-center py-5">

                    <!-- Demo content-->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-xl-7 mx-auto">
                                <div class="logo-img text-center mt-4 mb-5">
                                    <img src="../../../../../assets/image/main_logo.png" alt="">
                                </div>
                                <div class="formWrapper login-box w-100 d-flex align-items-center">
                                    <form [formGroup]="resetPasswordForm" class="w-100" (ngSubmit)="onSubmit()">
                                        <div class="form-heading mb-5">
                                            <h3 class="fw-bold mb-1">Reset Password</h3>
                                            <p class="mb-4 mt-2">Securely reset your password to using your
                                                account</p>
                                            <span class="mb-4"></span>
                                        </div>
                                        <div class="w-100">
                                            <mat-form-field appearance="outline" class="w-100 custom-form-field">
                                                <mat-label>Password</mat-label>
                                                <input matInput type="password" id="password" formControlName="password"
                                                    [type]="hide ? 'password' : 'text'">
                                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :
                                                    'visibility'}}</mat-icon>

                                            </mat-form-field>
                                        </div>

                                        <div class="w-100 mt-4">
                                            <mat-form-field appearance="outline" class="w-100 custom-form-field">
                                                <mat-label>Confirm Password</mat-label>
                                                <input matInput type="password" id="conPassword"
                                                    formControlName="conPassword"
                                                    [type]="hide_two ? 'password' : 'text'">
                                                <mat-icon matSuffix (click)="hide_two = !hide_two">{{hide_two ?
                                                    'visibility_off' :
                                                    'visibility'}}</mat-icon>

                                            </mat-form-field>
                                        </div>
                                        <div class="forget-link w-100 text-start mt-2"
                                            *ngIf="resetPasswordForm.hasError('passwordMismatch') && conPassword?.touched">
                                            <a href="#" class="forget-link fw-semibold mt-1">Must be both passwords are
                                                match</a>
                                        </div>
                                        <div class="forget-link w-100 text-start mt-2"
                                            *ngIf="password?.invalid && (password?.touched || password?.dirty)">
                                            Password must be at least 6 characters long.
                                        </div>
                                        <button type="submit" class="login-btn mt-4 fw-medium">Reset
                                            Password</button>
                                    </form>

                                </div>

                            </div>
                        </div>
                    </div><!-- End -->

                </div>
            </div><!-- End -->

            <!-- The image half -->
            <div class="col-md-6 d-none d-md-flex bg-image position-relative z-0">
                <div class="welcome-text">
                    <h2>Welcome back ! <br>Please sign in to your<br> <b>Urmila International Account</b></h2>
                    <p class="mt-4">Welcome back! Please log in to access your personalized dashboard <br>and continue
                        where you left off.</p>
                    <div class="main-img-box">
                        <img class="img-fluid mt-5" width="80%" src="../../../../../../assets/image/main-img.png">
                    </div>

                </div>
            </div>



        </div>
    </div>
</div>