<!-- <button type="button" class="btn btn-save justify-content-center" (click)="onAddBankResource()">Create</button> -->

<div class="master-content  client-page">
    <div class="container-fluid">
        <div class="row m-4 mt-3 mb-0 ms-0 ms-lg-4">
            <div class="col-12 p-0">
                <app-breadcrumb></app-breadcrumb>
            </div>
        </div>
    </div>
    <div class="row m-0 p-0  fix-height">
        <div class="col p-0 m-0 borad " *appIsGranted="'Read'">
            <tg-grid [columns]="columns" [rowData]="rowData" [totalCount]="totalCount"
                [title]="'Bank Resource Master'" [isBreadCurmbsShow]="false" (insert)="onAddBankResource()"
                (orderBy)="orderBy($event)" (edit)="onEdit($any($event))" [exportVisibility]="false"
                (delete)="onDelete($any($event))" (searchTearm)="onSearch($event)" (pageNumber)="onPageChange($event)"
                (recodeValueChange)="onTotalBankResourceValueChange($event)" [isVisibleDisplayedColoum]="false">
            </tg-grid>
        </div>
    </div>
</div>

<!-- Start Open Model -->
<div bsModal #bankresourcemodel="bs-modal" class="modal fade " tabindex="-1" aria-labelledby="exampleModalLabel"
    [config]="{backdrop: 'static'}" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog popup-design right-sidebar-panel">
        <div class="modal-content px-2">
            <div class="modal-header popup-header justify-content-between d-flex">
                <h5 class="modal-title" id="exampleModalLabel">Bank Resource Master</h5>
                <span class="d-block" (click)="closeBankResourceModel()">
                    <icon-ModalClose></icon-ModalClose>
                </span>
            </div>
            <div class="modal-body bg-white p-0 mt-2 mb-3">
                <form [formGroup]="bankresourceForm" #formDirective="ngForm" (ngSubmit)="onSubmit()">
                    <div class="row align-items-center justify-content-center gy-2 p-0 m-0">
                        <div class="col-12">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Enter the full name of the bank</mat-label>
                                <input matInput placeholder="Enter the full name of the bank" name="bankName"
                                    formControlName="bankName" required appAllowOnlyChars>
                            </mat-form-field>
                        </div>
                        <!-- <div class="col-12">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Prefix IFSC Code</mat-label>
                                <input matInput type="text" placeholder="Prefix IFSC Code"
                                    formControlName="prefixIFSCCode" name="prefixIFSCCode" required>
                            </mat-form-field>
                        </div> -->
                        <div class="col-12">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Enter the account holder's full name</mat-label>
                                <input matInput placeholder="Enter the account holder's full name"
                                    formControlName="accountName" name="accountName" required appAllowOnlyChars>
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Enter Account Number</mat-label>
                                <input matInput placeholder="Enter Account Number" type="number"
                                    formControlName="accountNumber" name="accountNumber" required>
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Enter IFSC Code</mat-label>
                                <input matInput placeholder="Enter IFSC Code" type="text" formControlName="ifscCode"
                                    name="ifscCode" required>
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Enter Corporate ID</mat-label>
                                <input matInput placeholder="Enter Corporate ID" type="text"
                                    formControlName="branchCode" name="branchCode" required>
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Select Account Type</mat-label>
                                <mat-select formControlName="accountTypeId" class="w-100">
                                    <mat-option *ngFor="let item of bankresourceCodeList" [value]="item.id">
                                        {{ item.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="modal-footer popup-footer mt-3 d-flex">
                            <ng-container>
                                <button type="submit" class="btn btn-save p-footerbtns w-100">Save</button>
                            </ng-container>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Open Model -->