@import '../../../../../../styles/styles.scss';

.employee-infos {
  background-color: $white-color;
  border-radius: $border8;
  border: 1px solid #eaedf1;
}

.invalid-control.invalid {
  border: 1px solid #FA6060;
}

.file-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #ffffff;

  .file-name {
    flex-grow: 1;
    color: #343a40;
    font-size: $fonts-content;
    margin-right: 10px;
  }

  .btn-close {
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-color 0.3s;

    .btn-icon {
      font-size: 18px;
      margin: 0;
    }
  }
}

.popup-table {

  max-height: 465px;
  overflow-x: hidden;
  overflow-y: auto;

  th {
    background-color: var(--light-theme) !important;
    text-wrap: nowrap;
    white-space: nowrap;
  }

  tbody {


    td {
      background-color: transparent !important;
      padding-top: 12px !important;

      .btn-download {
        height: 30px !important;
        width: 30px !important;
        display: flex;
        justify-content: center;
        align-self: center;
        border: none !important;

        i {
          font-size: 11px;
        }
      }

    }
  }


}

.modal-body {
  max-height: 650px !important;
  overflow: auto;
}

.header-btn {
  padding: 6.5px 0px !important;
}

.status-btn-bg {
  border-radius: 4px;
  opacity: 0.09;
}

.project-select .ng-select.ng-select-single .ng-select-container {
  height: 38px !important;
}


.dashborad-main .main-board {
  height: 72vh !important;
}

.card-attendance {
  border-radius: $border6 ;
  background: linear-gradient(180deg, #4285F4, #3b78da);
  height: 100%;
  padding: 12px 15px;

  h5 {
    font-family: $fonts;
    font-size: 15px;
    color: $white-color;
    font-weight: 500;
  }

  p {
    font-size: 12px;
    color: #ffffffda;
    font-weight: 500;
  }
}

.attendace-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80px;
  width: 80px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.main-client-card {
  display: flex;
}

.year-select {
  width: 120px !important;
}

@media screen and (max-width: 767px) {
  .header-btns button {
    width: auto !important;
  }

  .project-btn.project-dropdown ng-select {
    width: 120px !important;
  }

  .card .cart-design {
    padding: 0px !important;
  }

}

@media screen and (max-width:767px) {
  .cart-design {
    max-width: 100% !important;
    padding-right: 0px !important;
  }

  .left-card-side {
    p {
      max-width: 100% !important;
      width: 100% !important;
    }
  }
}

@media screen and (max-width:767px) {

  .client-cart,
  .cart-design {
    max-width: 100% !important;
    padding-right: 0px !important;
  }
}

@media screen and (max-width: 991px) {
  .breadcrumb {
    margin-bottom: 18px !important;
  }
}

@media screen and (max-width:991px) {
  .card {
    margin: 0px !important;
  }
}

@media screen and (max-width:1560px) {
  .card {
    .client-cart {
      padding: 15px !important;

      .left-card-side {
        p {
          max-width: 90px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

  }

}

@media screen and (max-width:1299px) {
  .left-card-side {
    order: 2;
    width: 100%;
    text-align: center;
  }

  .card-item {
    order: 1;
  }

  .main-client-card {
    flex-wrap: wrap;
  }

  .main-client-card {
    width: 100%;
  }

  .card .client-cart .left-card-side p {
    max-width: 100%;
  }

  .card .client-cart .card-item {
    margin: auto;
    margin-bottom: 10px;
  }
}

@media screen and (max-width:767px) {
  .cart-design {
    max-width: 100% !important;
    padding-right: 0px !important;
  }

  .left-card-side {
    p {
      max-width: 100% !important;
      width: 100% !important;
    }
  }
}

@media screen and (max-width:767px) {

  .client-cart,
  .cart-design {
    max-width: 100% !important;
    padding-right: 0px !important;
  }
}

@media screen and (max-width: 991px) {
  .breadcrumb {
    margin-bottom: 18px !important;
  }
}