@import '../../../../../../styles/styles.scss';


.thead th {
    background-color: #ECF3FE;
}


* {
    box-sizing: border-box;
    font-family: $fonts !important;
}

.scheduler_default_main *,
.scheduler_default_main ::before,
.scheduler_default_main ::after {
    box-sizing: content-box;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.main-borad {
    background-color: #fff;
    padding: 16px 22px;
    position: relative;
    border-radius: 6px;
    border: 1px solid #eaedf1;
}

.parent-container {
    max-height: calc(100vh - 196px);
    height: calc(100vh - 196px);
    overflow-y: auto;
}

.attendance-table {
    border: 1px solid #eee;
    padding: 0px !important;
    overflow: hidden;
    height: calc(100vh - 274px);
    overflow-y: auto !important;
    overflow-x: auto !important;
}

.attendance-cells {
    height: 100%;
}

.attendance-cell {
    background-color: #fff;
    color: #999;
    border: 1px solid #eeecec9c;
    padding: 9px 8px !important;
    margin: 0px !important;
    height: 40px;
}

.attendance-time-title,
.attendance-date-title {
    z-index: 9;
    position: sticky;
    top: 0px;
}

.attendance-date {
    position: sticky;
    left: 0;
    z-index: 10;
}
.attendance-cell-min {
    width: 50px;
    flex: 0 0 50px;
}

.graph {
    background-color: #FEEFEF;
    border-left: 5px solid #FA6060;
    display: block;
    height: 100%;
    position: absolute;
    bottom: 0;
}

.presentDay {
    background-color: #d7e9d780;
    display: block;
    height: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 3px;
    position: relative;
    padding: 5px 3px;
}

.presentDay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 3px;
    background-color: #03C95A;
    border-radius: 5px;
}


.holiday-presentDay {
    background-color: #1b85ff17;
    display: block;
    height: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 3px;
    position: relative;
    padding: 5px 3px;
}

.holiday-presentDay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 3px;
    background-color: #1B84FF;
    border-radius: 5px;
}

.attendance-cells-row {
    height: 50px;
    background-color: #fff;
    color: #999;
    border: 1px solid #eeecec9c;
    padding-top: 4px;
    padding-bottom: 4px;
}

.attendance-datas .attendance-cell {
    height: 50px !important;
    display: flex;
    align-items: center;
}

.no-attendance {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    border: none !important;
}


.absent-bars,
.leave-bars,
.holiday-bars {
    height: 40px;
    background-color: rgba(245, 73, 73, 0.062);
    width: 200px;
    text-align: center;
    line-height: 40px;
    color: #F26622;
    margin: auto;
    border-radius: 3px;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.absent-bars::after,
.leave-bars::after,
.holiday-bars::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 3px;
    background-color: #F26622;
    border-radius: 5px;
}

.leave-bars {
    color: #FFC107;
    background-color: #ffc10713;
}

.leave-bars::after {
    background-color: #FFC107;
}

.holiday-bars {
    color: #1B84FF;
    background-color: #1b85ff17;
}

.holiday-bars::after {
    background-color: #1B84FF;
}

.time-title {
    font-size: 12px !important;
    color: #000;
    margin-left: 8px !important;
    font-weight: 600 !important;
    line-height: 15px !important;
    white-space: nowrap;
}

.time-location {
    font-size: 10px !important;
    margin-left: 8px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #898383;
}

.date-attendance {
    color: #000;
}

.no-time-found {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.time-found {
    color: #7ab07a;
    text-align: center;
    font-weight: 500 !important;
}

.employee-icn {
    left: 12px;
    top: 40%;
    transform: translateY(-50%);
}

.employee-title h4,
.employee-title h5 {
    font-size: 16px;
    font-weight: 400;
}

.employee-title h4 {
    color: #8F959D;
    padding-right: 15px;
    border-right: 1px solid #eee;
}

.employee-title h5 {
    font-weight: 600;
    padding-left: 15px;
}

.leave-box {
    height: 12px;
    width: 12px;
    border-radius: 2px;
}

.present .leave-box {
    background-color: #03C95A;
}

.absant .leave-box {
    background-color: #F26622;
}

.leave .leave-box {
    background-color: #FFC107;
}

.holiday .leave-box {
    background-color: #1B84FF;
}

.days-type p {
    font-size: 14px;
    font-weight: 500;
    color: #999;
}

.timeline {
    width: 100;
    background-color: #eee;
    height: 12px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

.timeline span {
    height: 12px;
}

.present-line {
    background-color: #03C95A;
}

.absant-line {
    background-color: #F26622;
}

.leave-line {
    background-color: #EF9E0B80;
}

.holiday-line {
    background-color: #1B84FF;
}

.hours {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 5px;
        width: 1px;
        background-color: #eaedf1;
        transform: translateX(50%);
    }
}