.accordion-button {
  background-color: transparent !important;
  box-shadow: none !important;
}

.accordion-item {

  background-color: $white-color !important;
  margin-bottom: 10px !important;
  border-radius: 10px !important;
  overflow: hidden !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06) !important;
  display: flex;
  flex-wrap: wrap;
}

.bg-sky {
  // background-color: var(--light-theme);
  border-radius: 10px 10px 0px 0px !important;

  .col {
    background-color: var(--light-theme);

  }
}

.innercard-table {
  background-color: $white-color;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
  padding: 0px;
  padding-bottom: 5px !important;
  font-family: $fonts !important;

  .cdk-drop-list {
    max-height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.collapsed.accordion-header {
  border-bottom: 1px solid transparent !important;
}

.accordion-header {
  border-bottom: 1px solid #eee !important;
}



.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cursor-move {
  cursor: move;
}

.add-icn button {
  background-color: var(--theme-color);
  width: 38px !important;
  height: 38px !important;

  svg {
    color: $white-color;
  }
}


.payroll-card {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
  background-color: white;
}

.payroll-card h2 {

  font-family: $fonts !important;
}

.payroll-inner td {
  color: #888;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: $fonts-content !important;
}

.border-end {
  border-right: 1px solid #ebebeb !important;
}

.payroll-inner-light {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
  padding: 15px 18px;
}


.att-id {
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #805DCA1A;
  border-radius: 6px;

  h5 {
    color: #805DCA !important;
  }
}

.bg-sky {
  background-color: var(--light-theme);
  border-radius: 10px 10px 0px 0px !important;
}

.payroll-inner .row:last-child .col {
  border-bottom: 0px !important;
}

button:focus {
  // border: 0px !important;
  box-shadow: none !important;
}

.innercard-table div {
  color: rgba(0, 0, 0, 0.8392156863);
  font-size: 12px !important;
}


.option-tab {
  height: 200px;
  overflow-y: scroll;
  padding-right: 10px;
}


.option-tab::-webkit-scrollbar {
  width: 10px;
  height: 20px;
  background-color: $webkit-scrollbar-background;
}

.option-tab::-webkit-scrollbar-track {
  background-color: $webkit-scrollbar-background;
}



.Switch-font {
  font-size: $fonts-content;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $toggle-btn-before;
  -webkit-transition: .6s;
  transition: .6s;
  border: none;
  box-shadow: none;

  &:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 7px;
    bottom: 5px;
    background-color: $white-color;
    -webkit-transition: .6s;
    transition: .6s;
  }

  &.round {
    border-radius: 34px;

    &:before {
      border-radius: 50%;
    }
  }
}

input {
  &:checked {
    &+.slider {
      background-color: var(--theme-color);

      &:before {
        left: auto;
        right: 5px;
      }
    }
  }

  &:focus {
    &+.slider {
      box-shadow: 0 0 1px var(--theme-color);
    }
  }
}

// Additional classes for dynamic styling
.calculated {
  background-color: #c05; // Define $calculated-color in your variables
}

.default {
  background-color: #fff; // Define $default-color in your variables
}

.Formula-bg {
  background-color: $popup-background;
  padding: 20px;
  border-radius: 10px;

  h3 {
    font-size: 16px;
    font-weight: 500;
  }

  i {
    font-size: $fonts-content;
    cursor: pointer;
  }

  svg {
    height: 16px !important;
    width: 16px !important;
    fill: var(--theme-color) !important;
  }

  svg.comma {
    height: 10px !important;
    margin-top: 5px !important;
  }

  .formula-icon {
    font-size: $fonts-content;
  }

  .formula-box {
    border-radius: 5px;
    color: $popup-text;
    padding: 8px 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15%);
    display: inline-flex;
  }

  .btn-reset {
    background-color: $white-color ;
    border: 1px solid $popup-btn !important;
    padding: 5px 10px;
    text-align: center;
    color: $popup-btn;
    font-weight: 700;
    cursor: pointer;

    &:focus {
      box-shadow: none !important;
    }
  }

  .input-box {
    position: relative;

    .form-control {
      padding-right: 29px;
    }

    i {
      position: absolute;
      right: 13px;
      top: 12px;
      color: $black-color;

    }

    .add-btn {
      background-color: var(--theme-color);
      position: absolute;
      right: 0;
      padding: 10px 20px;
      top: 0;
      color: $white-color;
      border-radius: 0 5px 5px 0;
      font-weight: 700;

    }

    .form-control {
      height: 40px;
      background-color: $white-color;

      &:focus {
        background-color: $white-color;
        box-shadow: none !important;
        border-color: $border-color !important;
      }
    }
  }

  .option-tab {
    height: 12vh;
    overflow-y: auto;

    .option-bg-tab {
      padding: 10px;
      border-radius: 6px;

      &:hover {
        background-color: var(--light-theme);

      }

      &:active {
        background-color: var(--light-theme);

      }
    }

    .icon-color {
      color: var(--theme-color);
      cursor: pointer;

      svg {
        path {
          -webkit-text-stroke-color: var(--theme-color) !important;
        }
      }
    }

  }
}

.cdk-overlay-container {
  z-index: 99999 !important;
  /* or a value higher than Bootstrap's modal z-index */
}

.formula {
  position: relative;
}

.formula-input {
  background-color: transparent;
  border: none;
  width: 100%;
  height: auto;
  padding: 3px;
  outline: none;
  resize: none;
}

.formula-icon {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 90px;
  overflow-y: auto;
  max-width: 680px;
  overflow-y: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2px 0;
}

.formula-box {
  background-color: white;
  border: 1px solid #ddd;
  padding: 5px 10px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}

.formula-box h5 {
  margin: 0;
}

.formula-box i {
  cursor: pointer;
}

.invalid-message {
  color: $error-color;
}

.valid-message {
  color: var(--theme-color) !important;
}

@media screen and (max-width:1320px) {

  .attr-popup-design {
    margin-top: 150px !important;
  }
}


.col.border-bottom {
  height: fit-content;
}

.action-icn {
  padding-top: 9px !important;
  padding-bottom: 9px !important;
}

.mainDash {
  padding: 0px !important;
}


.cdk-drag:last-child div {
  border-bottom: none !important;
}

@media screen and (max-width:991px) {
  .payroll-inner {
    overflow-x: auto;
    width: 100%;
  }

  .table-width {
    width: 1000px;
    // overflow-x:auto ;
  }
}