$table-header: var(--light-theme);
$white-color: #fff;
// $error-color:#F70001;
$error-color: #FA6060;
$black-color: #000;
$icon-color: #4B556399;
$grey-text: #000000d6;
$iconfont: #3C3B3B;
$menu-text: rgba(14, 23, 38, 0.6);
$menu-text-hover: $white-color;
$breadcrumb-icon: #888;
$secondary-color: #777;
$text-heading-color: #231F20;
$theme-secondarycolor: #999;
$light-grey: #999;
$tertiory-color: #737373;
$fonts: "Poppins", sans-serif;
$fonts-content: 14px;
$border-color: #EFF3F6;
$toggle-on: var(--theme-color);
$toggleonbefore: #fff;
$toggle-off: #ddd;
$toggleoffbefore: #fff;
$inputbg: #F9FAFF;
$dashborad-bgcolor: #F9FAFF;
$text-secondary: #5B6283;
$grid-maintitle: #262626;
$grid-border: #e9e8e8;
$border4: 4px;
$border8: 8px;
$border6: 6px;
$sub-title: #2e2e2e;
$theme-blue: #013366;
$theme-orange: #ED6605;
$theme-skyBlue : #4285f4;
$theme-yellow: #E7913F;
$btn-invoice: #805dca;
$btn-invoice-shadow: #6d52a7;
// $theme-purple: #696cff;
$theme-green: #67b173;
$theme-red: #9A0000;
$theme-purple: #696cff;
$theme-skyblue: #9FC5E8;
$dashborad-border: #e2e8f0;
$hover-shadow: rgba(1, 52, 102, 0.10);
$input-text-color: #8F8F8F;
$lightTheme2: rgba(1, 52, 102, 0.20);
$box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05), 0 -1px 4px rgba(0, 0, 0, 0.05);
$toggle-btn: #f2b01e;
$webkit-scrollbar-background: #f1f1f1;
$toggle-btn-before: #ccc;
$popup-background: #F8F8F8;
$popup-text: #444444;
$popup-btn: #545863;
$first-card-color: #E5F8F7;
$second-card-color: #dbdbfb;
$third-card-color: #f9dfe8;
$four-card-color: #eefdee;
$five-card-color: #fff4db;
$form-theme: #F6AA32;
$grid-text: #9399A1;
$header-title: #444;
$border-light: #e0e6ed;
$table-hover: rgb(224 230 237 / 0.2);

// Fonts Style
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;