<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width'>
    <title>Privacy Policy</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

</head>
<style>
    body {
        font-family: "Poppins", sans-serif;
        margin: 0;
    }

    .background_img {
        background-image: url(https://www.nttdata.com/ph/en/-/media/nttdataapac/ndph/services/oracle-solutions/engineered-systems/engineered-systems_header_2732x1536.jpg?h=1536&iar=0&w=2732&rev=75416db…);
        height: 400px;
        background-size: 100%;
        background-color: #226e93;
        pointer-events: none;
        text-align: center;
        background-size: cover;
        background-position: 50% 35%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .background_img:before {
        content: "";
        position: absolute;
        inset: 0;
        background: #000;
        opacity: .6;
    }

    .background_img h1 {
        color: #fff;
        font-weight: 600;
        letter-spacing: 5px;
        font-size: 60px;
        position: relative;
        z-index: 999;
        font-family: "Poppins", sans-serif;
    }

    main {
        padding: 20px;
        justify-content: center;
        margin: auto;
        width: 60%;
    }

    h2 {
        margin-bottom: 5px;
    }

    p {
        font-size: 14px;
        line-height: 25px;
        color: #7C7C7C;
    }

    ul li {
        font-size: 14px;
        line-height: 25px;
        color: #979292;
    }
</style>

<body>
    <div class="background_img">
        <h1>Privacy Policy</h1>
    </div>
    <main>
        <h2>Privacy Policy</h2>

        <p>Thank you for using the Urmila HRMS. We are committed to protecting your privacy and the security of your
            personal information. This privacy policy applies to the Urmila HRMS app for mobile devices that was created
            by URMILA INTERNATIONAL SERVICES PRIVATE LIMITED as a Free service. This service is intended for use "AS
            IS". </p>
        <p>This Privacy Policy describes how we collect, use, and protect the personal information of users who use our
            internal attendance application. This application is intended exclusively for employees of URMILA
            INTERNATIONAL SERVICES PRIVATE LIMITED and is not for public use.</p>

        <h2>Information Collection</h2>
        <p>The application collects certain information when you download and use it. This may include:</p>
        <ul>
            <li>Device’s Internet Protocol (IP) address</li>
            <li>Pages visited within the application</li>
            <li>Date, time, and duration of usage</li>
            <li>Mobile operating system information</li>
        </ul>

        <p>Additionally, the app may collect personal information necessary for core HR functionalities, such as:</p>

        <p> <span style="font-weight: 600;">Email ID:</span> Used for secure user authentication and login</p>
        <p><span style="font-weight: 600;">Camera Access:</span>Used to capture real-time photos for attendance marking
        </p>
        <p><span style="font-weight: 600;">Live Photos:</span>Captured only during attendance check-in/out and used
            strictly for internal verification</p>
        <p><span style="font-weight: 600;">Location Access (Optional):</span>Requested at the time of marking attendance
            to verify physical presence at the workplace or designated site.</p>
        <ul>
            <li>Granting access is optional</li>
            <li>Users can deny location access and still mark attendance via live photo</li>
            <li>If accessed, location data is not stored permanently or tracked in the background</li>
        </ul>

        <h2>Grievance Information Collection</h2>
        <p>The app also enables employees to raise HR-related grievances, which may include uploading documents or
            communicating via in-app chat. The types of grievances supported include:</p>
        <ul>
            <li>Provident Fund (PF)</li>
            <li>Salary-related concerns</li>
            <li>ESIC queries</li>
            <li>Joining</li>
            <li>PSH</li>
        </ul>

        <p>Any files or messages submitted for grievances are stored securely and are accessible only to authorized HR
            personnel.</p>

        <h2>How We Use Your Information</h2>
        <p>The collected data is used strictly for:</p>
        <ul>
            <li>Attendance tracking and verification</li>
            <li>Grievance resolution and communication</li>
            <li>Internal audit and HR reporting</li>
            <li>Application performance improvements and security enhancements </li>
        </ul>

        <p>The Service Provider may use the information you provided to contact you from time to time to provide you
            with important information, required notices and marketing promotions.</p>

        <h2>Third Party Access</h2>
        <p>Only aggregated, anonymized data is periodically transmitted to external services to aid the Service Provider
            in improving the Application and their service. The Service Provider may share your information with third
            parties in the ways that are described in this privacy statement.</p>
        <p>Please note that the Application utilizes third-party services that have their own Privacy Policy about
            handling data. Below are the links to the Privacy Policy of the third-party service providers used by the
            Application:</p>
        <ul>
            <li><a href="https://policies.google.com/privacy">Google Play Services</a></li>
            <li><a href="https://firebase.google.com/support/privacy">Google Analytics for Firebase</a></li>
            <li><a href="https://firebase.google.com/docs/crashlytics">Firebase Crashlytics</a></li>
        </ul>

        <p>The Service Provider may disclose User Provided and Automatically Collected information:</p>

        <ul>
            <li>as required by law, such as to comply with a subpoena or similar legal process;</li>
            <li>when they believe in good faith that disclosure is necessary to protect their rights, your safety, or
                the safety of others, to investigate fraud, or to respond to a government request;</li>
            <li>with their trusted service providers who work on their behalf, do not have an independent use of the
                information, and have agreed to adhere to the rules set forth in this privacy statement.</li>
        </ul>

        <h2>Opt-Out Rights</h2>
        <p>You can stop all collection of information by the Application easily by uninstalling it. You may use the
            standard uninstall processes as may be available as part of your mobile device or via the mobile application
            marketplace or network.</p>

        <h2>Data Retention Policy</h2>
        <p>The Service Provider will retain User Provided data for as long as you use the Application and for a
            reasonable time thereafter. If you'd like them to delete User Provided Data that you have provided via the
            Application, please contact them at uisplhrms&#64;gmail.com and they will respond in a reasonable time.</p>

        <h2>Children</h2>
        <p>The Service Provider does not use the Application to knowingly solicit data from or market to children under
            the age of 13.</p>
        <p>The Application does not address anyone under the age of 13. The Service Provider does not knowingly collect
            personally identifiable information from children under 13 years of age. In the case the Service Provider
            discover that a child under 13 has provided personal information, the Service Provider will immediately
            delete this from their servers. If you are a parent or guardian and you are aware that your child has
            provided us with personal information, please contact the Service Provider (uisplhrms&#64;gmail.com) so that
            they will be able to take the necessary actions.</p>

        <h2>GDPR Privacy</h2>
        <p>Under the GDPR, users have several key rights regarding their personal data. They have the right to be
            informed about how their data is collected, processed, and used. Users can request access to their data, ask
            for corrections if the data is inaccurate, and request deletion of their data when it is no longer needed or
            processed unlawfully ("Right to Erasure"). Users may also restrict the processing of their data under
            specific circumstances and have the right to data portability, allowing them to receive their data in a
            structured format and transfer it to another controller. Additionally, they can object to the processing of
            their data, particularly for direct marketing purposes.</p>

        <h2>Security</h2>
        <p>The Service Provider is concerned about safeguarding the confidentiality of your information. The Service
            Provider provides physical, electronic, and procedural safeguards to protect information the Service
            Provider processes and maintains.</p>

        <h2>Changes to This Privacy Policy</h2>
        <p>This Privacy Policy may be updated from time to time for any reason. The Service Provider will notify you of
            any changes to the Privacy Policy by updating this page with the new Privacy Policy. You are advised to
            consult this Privacy Policy regularly for any changes, as continued use is deemed approval of all changes.
        </p>

        <h2>User Control & Consent</h2>
        <p>By using this app, users agree to provide the above-mentioned information. Location access is optional and
            users can choose to deny permission without affecting core attendance functionality.</p>

        <h2>Your Consent</h2>
        <p>By using the Application, you are consenting to the processing of your information as set forth in this
            Privacy Policy now and as amended by us.</p>

        <h2>Contact Us</h2>
        <p>If you have any questions regarding privacy while using the Application, or have questions about the
            practices, please contact the Service Provider via email at <a
                href="mailto:uisplhrms@gmail.com">uisplhrms&#64;gmail.com</a>.
        </p>
    </main>
</body>

</html>