@import '../../../../../../styles/styles.scss';

// wizard tabs

.wizard {
    margin: 10px 0px;
    margin-bottom: 25px;
    position: relative;
    z-index: 0;
    margin-left: 100px;
    margin-right: 100px;
    padding: 0px !important;

    .nav {
        border: 0px;
    }

    li {
        position: relative;

        .wizard-tab {
            cursor: pointer;
            width: 243px;
            padding: 4px;
            display: flex;
            border: 1px solid $border-color !important;
            border-radius: 50px;
            background-color: $white-color;

            .wizard-no {
                height: 40px !important;
                width: 40px !important;
                border-radius: 50px;
                border: 1px solid transparent;
                background-color: $border-color;
                font-size: 16px !important;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 700 !important;
            }

            p {
                display: inline;
                margin-left: 10px !important;
                font-size: $fonts-content;
                color: $icon-color;
                align-self: center;
                font-weight: 500;
            }

            &.active {
                .wizard-no {
                    color: var(--theme-color);
                    border-color: var(--theme-color);
                    background-color: transparent !important;
                }
            }

            &.completed {
                .wizard-no {
                    color: $white-color;
                    border-color: var(--theme-color);
                    background-color: var(--theme-color) !important;
                }
            }
        }

        // &:after {
        //     content: '';
        //     position: absolute;
        //     width: 500px;
        //     left: 100%;
        //     top: 50%;
        //     transform: translateY(-50%);
        //     height: 1px;
        //     background-color: $border-color;
        // }

        &:last-child::after {
            width: 0px;
        }
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 1px;
        background-color: $border-color;
        z-index: -1;
    }
}


.borad-body {
    max-height: 644px;
    overflow: auto;
}

.borad-footer {
    border-radius: 0px 0px 8px 8px;
    bottom: 1px !important;
}

.margin-top {
    margin-top: -30px;
}

.margin-top-title {
    margin-top: -15px;
}

.cdk-overlay-container {
    z-index: 99999 !important;
}

.select-candidate {
    width: 400px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ng-select-unselected {
    border: 1px solid #FA6060 !important;
    border-radius: 5px;
}

@media only screen and (max-width:1440px) {

    .wizard-tab {
        width: 180px !important;
    }
}

@media screen and (max-width:991px) {
    .wizard {
        margin-left: 50px !important;
        margin-right: 50px !important;
    }
}

@media screen and (max-width:767px) {
    .wizard {

        .wizard-tab {
            border: transparent;
            width: auto !important;

            p {
                display: none !important;
            }

        }

    }
}

.fix-height .main-board {
    height: auto;
    overflow: auto;
}

.borad-body {
    min-height: 644px !important;
    max-height: unset !important;
    overflow: unset;
}

@media screen and (max-width: 1199px) {
    .menu-collapsed {
        .borad-body {
            .col-12.col-lg-4.col-md-6 {
                width: 50% !important;
            }
        }
    }

}

@media screen and (max-width: 767px) {
    .menu-collapsed {
        .borad-body {
            .col-12.col-lg-4.col-md-6 {
                width: 100% !important;
            }
        }
    }
}


@media screen and (max-width: 499px) {
    .borad-header-create {
        flex-wrap: wrap;
    }
}