@import '../../../../../../styles/styles.scss';

* {
    font-family: $fonts !important;
}

// .board-header{

//     background-color: $white-color;
//     border-radius: $border6;
//     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
// }

// permission table
.grouptable-bg {
    background-color: $white-color;
    border-radius: $border8;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
    padding: 15px 20px;

    tr {
        &:hover {
            background-color: transparent !important;
        }
    }

    td {
        height: 44.88px;
        border: 0px !important;
        width: 100%;
        display: block;
        background-color: rgba(228, 234, 238, 0.3);
        padding: 12px 20px !important;
        // margin: 12px 0px;
        font-size: 14px !important;
        border-radius: $border6;
        color: $grey-text;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
        cursor: pointer;

        .action-icons {
            display: none;
            transition: .3s;
        }

        &:hover {

            .action-icons {
                display: inline-block;

                .del-group {
                    color: #FF7373;
                }
            }
        }
    }

    td.active {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            height: 70%;
            width: 4px;
            background-color: var(--theme-color);
            transform: translateY(-50%);
            border-radius: 0px 50px 50px 0px;
        }
    }
}

// screen table
.screen-title {
    background-color: $white-color;
    border-radius: $border6;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);

    h5 {
        font-size: 16px !important;
        color: $sub-title;
        padding: 12px;
        padding-left: 15px;
        font-weight: 600;
        color: $grey-text;
    }
}

.screen-table,
.screen-permissiontable {

    .screentabletitle {
        background-color: var(--light-theme) !important;
        border-radius: $border8 $border8 0px 0px;
    }

    th {
        padding: 12px 18px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    tr {

        td {
            align-self: center !important;
            display: inline-flex !important;
            padding: 10px 18px !important;
            color: $grey-text;
            // border: none !important;
            background-color: transparent !important;

            .toggle-btn {
                margin-top: -4px !important;
            }
        }

    }
}

.screen-table.screen-permissiontable {
    td {
        padding: 4px 18px !important;
        background-color: transparent !important;
    }
}

.screen-permissiontable {
    background-color: $white-color;
    border-radius: $border8;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06) !important;
}

.manage_table {
    max-height: 260px;
    overflow-y: auto;
}

.checks {
    padding: 4px 18px !important;


}

.table-tr {
    color: $grey-text !important;
    font-size: 16px !important;
}

.screen-table {
    border-radius: 8px !important;
    overflow-y: auto;

    tr {
        background-color: $white-color !important;
        // margin-bottom: 10px !important;
        // border-radius: 10px !important;
        overflow: hidden !important;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06) !important;
        display: flex;
        flex-wrap: wrap;

        div {
            width: 100%;
            display: block;
        }

    }

    .active-tr {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04), 0px -2px 4px rgba(0, 0, 0, 0.04) !important;
        border: transparent !important;
    }

}


.screen-permissiontable {
    tr {
        box-shadow: none !important;
        border-radius: 0px !important;
    }
}

.accordion-button {
    background-color: transparent !important;
    box-shadow: none !important;
}

.mdc-checkbox__background {
    // height: 18px !important;
    width: 18px !important;
    margin-left: -10PX !important;
}

// .mdc-checkbox__ripple {
//     margin-left: -21px !important;
// }

// .screen-permissiontable {
//     tr {
//         margin-bottom: 0px !important;
//     }
// }


// .mat-ripple.mat-mdc-checkbox-ripple {
//     left: -22px !important;
// }

tr.active-tr {
    position: relative;
    // background-color: var(--light-theme) !important;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        height: 70%;
        width: 4px;
        background-color: var(--theme-color);
        transform: translateY(-50%);
        border-radius: 0px 50px 50px 0px;
    }

    td {
        background-color: transparent !important;
    }
}

.btn-assign {
    font-size: $fonts-content;
}

.w-20 {
    width: 10.5%;
}


.screentabletitle tr {
    background-color: var(--light-theme) !important;
}

.screentabletitle th {
    background-color: transparent !important;
}

.w-26 {
    width: 26% !important;
}

.mdc-checkbox {
    width: 22px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.mdc-checkbox__native-control {
    width: 22px !important;
}

.screen-table {
    height: 100%;
    max-height: 320px !important;
    overflow-y: auto;
}

@media screen and (max-width: 991px) {
    .screen-permissiontable table {
        min-width: 800px;
        width: 100%;
        overflow-x: auto;
    }

}