@import '../../../../../../styles/styles.scss';


.icon-color {
    color: $icon-color;
}

.w-10 {
    width: 10%;
}

.submenu-sidebar-menus {
    cursor: pointer;
}

.code-type-section {
    .submenu-sidebar {
        border: 1px solid $dashborad-border !important;
        background-color: #F6FAFF !important;
        position: sticky;
        top: 68px;
        background-color: $white-color;
        padding: 0px 0px;
        max-height: 92.67vh;
        height: auto;
        overflow-y: auto;
        .sidebar-header {
            text-align: center;

            .header-icon-detail {
                margin: auto 10px;
                padding: 27px 0px 27px 0px;
                margin-top: 20px;
                margin-bottom: 20px;
                border-radius: 10px;
                background-color: $white-color !important;

                .header-icon {
                    svg {
                        width: 28px;
                        height: 28px;
                        color: var(--theme-color);
                    }
                }

                p {
                    color: var(--theme-color);
                    font-size: $fonts-content;
                }

            }

            .header-add {
                display: flex;
                justify-content: flex-end;

                span {
                    height: 30px;
                    width: 30px;
                    border-radius: 3px;
                    display: inline-block;
                    background-color: var(--theme-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        height: 20px;
                        width: 20px;
                        color: $white-color;
                    }
                }
            }
        }

        .submenu-sidebar-menus {
            li {
                a {
                    transition: .3s;
                    padding: 12px 18px 12px 15px;
                    display: block;
                    font-size: $fonts-content;
                    color: $grey-text;
                    text-decoration: none;
                    background-color: transparent;
                    font-weight: 500;
                }

                &:hover {
                    a {
                        background-color: var(--light-theme);
                        color: var(--theme-color);
                    }
                }

                .active {
                    background-color: var(--light-theme);
                    color: var(--theme-color);
                }

            }
        }
    }


    .master-content {
        .main-board{
            .board-content{
                table{
                    tr{
                        td{
                            color: $grey-text;
                            font-size: $fonts-content;
                        }
                    }

                   
                }

                .borad-footer {
                    padding: 20px 0px;
                    border-top: 1px dashed $border-color;
                    .footer-left {
                        .dropdown-page {
                            display: inline-block;
                            padding: 8px 12px;
                            font-size:$fonts-content;
                            color: $grey-text;
                            border: 1px solid $border-color;
                            border-radius: 4px;
                            height: 40px;

                            i {
                                font-size: 12px;
                            }
                        }

                        p {
                            font-size: $fonts-content;
                            color: $grey-text;
                        }
                    }
                }
            }
        }
    }
}
.parent-container{
    height: 63vh !important;
}

@media screen and (max-width:786px){
    .code-type-section{
        position: static;
        width: 100% !important;
        margin-top: 10px !important;
        .submenu-sidebar{
            height: auto !important;
            overflow-y:auto ;
            max-height: 100% !important;
        }
    }
    
    .dashborad-main{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}