@import '../../../../../styles/styles.scss';


.file-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #ffffff;

  .file-name {
    flex-grow: 1;
    color: #343a40;
    font-size: $fonts-content;
    margin-right: 10px;
  }

  .btn-close {
    background-color: #007bff;
    border: 1px solid #007bff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-color 0.3s;

    &:hover {
      background-color: #0056b3;
      border-color: #0056b3;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px rgba(38, 143, 255, 0.5);
    }

    .btn-icon {
      font-size: 18px;
      margin: 0;
    }
  }

}


.file-info .btn-close {
  border-radius: 50px;
  padding: 8px 8px !important;
  background-color: transparent !important;
  height: 5px !important;
  width: 5px !important;
  display: block;
  border: none;

  &:focus {
    border: none !important;
  }
}

.file-info .btn-close:hover {
  border: none !important;
}

.file-info .btn-close:focus {
  box-shadow: none !important;
}

.dropzone {
  min-height: 400px;
  min-width: 400px;
  display: table;
  width: 100%;
  background-color: #eee;
  border: dotted 1px #aaa;
}

.file-label {
  padding-left: 50px !important;
}


.menu-collapsed .file-label {
  max-width: 300px;
}


@media screen and (min-width:1540px) and (max-width:1752px) {
  .file-label {
    max-width: 280px !important;
  }
}

@media screen and (min-width:1400px) and (max-width:1540px) {
  .file-label {
    max-width: 220px !important;
  }
}

@media screen and (max-width:426px) {
  .file-label {
    max-width: 150px !important;
  }
}

@media screen and (min-width:1636px) and (max-width:1699px) {
  .menu-collapsed .file-label {
    max-width: 250px !important;
  }
}


@media screen and (min-width:1500px) and (max-width:1549px) {
  .menu-collapsed .file-label {
    max-width: 180px !important;
  }
}

@media screen and (min-width:1550px) and (max-width:1400px) {
  .menu-collapsed .file-label {
    max-width: 100px !important;
  }
}