@import '../../../../../../styles/styles.scss';


.icon-color {
    color: $icon-color;
}

.w-10 {
    width: 10%;
}

.submenu-sidebar-menus {
    cursor: pointer;
}

.code-type-section {
    .submenu-sidebar {
        border: 1px solid $dashborad-border !important;
        background-color: $white-color !important;
        position: sticky;
        top: 68px;
        background-color: $white-color;
        padding: 0px 9px;
        min-height: 92.8vh;
        max-height: 100vh;
        height: auto;
        overflow-y: auto;
        .sidebar-header {
            text-align: center;

            .header-icon-detail {
                padding: 27px 0px 10px 0px;

                .header-icon {
                    svg {
                        width: 28px;
                        height: 28px;
                        color: var(--theme-color);
                    }
                }

                p {
                    color: var(--theme-color);
                    font-size: $fonts-content;
                }

            }

            .header-add {
                display: flex;
                justify-content: flex-end;

                span {
                    height: 30px;
                    width: 30px;
                    border-radius: 3px;
                    display: inline-block;
                    background-color: var(--theme-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        height: 20px;
                        width: 20px;
                        color: $white-color;
                    }
                }
            }
        }

        .submenu-sidebar-menus {
            li {
                a {
                    transition: .3s;
                    padding: 10px 18px 10px 15px;
                    display: block;
                    font-size: $fonts-content;
                    color: $grey-text;
                    text-decoration: none;
                    background-color: transparent;
                }

                &:hover {
                    a {
                        background-color: var(--light-theme);
                        color: var(--theme-color);
                    }
                }

                .active {
                    background-color: var(--light-theme);
                    color: var(--theme-color);
                }

            }
        }
    }


    .master-content {
        .main-board{
            .board-content{
                table{
                    tr{
                        td{
                            color: $grey-text;
                            font-size: $fonts-content;
                        }
                    }

                   
                }

                .borad-footer {
                    padding: 20px 0px;
                    border-top: 1px dashed $border-color;
                    .footer-left {
                        .dropdown-page {
                            display: inline-block;
                            padding: 8px 12px;
                            font-size: $fonts-content;
                            color: $grey-text;
                            border: 1px solid $border-color;
                            border-radius: 4px;
                            height: 40px;

                            i {
                                font-size: 12px;
                            }
                        }

                        p {
                            font-size: $fonts-content;
                            color: $grey-text;
                        }
                    }
                }
            }
        }
    }
}
