@import '../../../../../../styles/styles.scss';


.payroll-text {
  font-size: 16px;
  color: $icon-color;
  line-height: 30px;
}


.delete-icon {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.card,
.project-select {
  font-family: $fonts;
}

.header-btn-blue {
  padding: 3px 8px;
  width: 35px;
  height: 35px;
  border-radius: 4px;
  background-color: var(--theme-color);
  color: #fff;
  outline: none;
  border: none;
  font-size: 14px;
}

.year-select {
  width: 120px;
}

table {
  thead {

    th {
      background-color: var(--light-theme) !important;
    }
  }

  tbody {
    tr {
      td {
        background-color: transparent !important;
      }

      &:hover {
        background-color: $table-hover !important;
      }
    }
  }
}

.popup-table {

  max-height: 465px;
  overflow-x: hidden;
  overflow-y: auto;

  th {
    background-color: var(--light-theme) !important;
    text-wrap: nowrap;
    white-space: nowrap;
  }

  tbody {


    td {
      background-color: transparent !important;

      .btn-download {
        height: 30px !important;
        width: 30px !important;
        display: flex;
        justify-content: center;
        align-self: center;

        i {
          font-size: 12px;
        }
      }

    }
  }


}


.file-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #ffffff;

  .file-name {
    flex-grow: 1;
    color: #343a40;
    font-size: $fonts-content;
    margin-right: 10px;
  }

  .btn-close {
    background-color: #007bff;
    border: 1px solid #007bff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-color 0.3s;

    &:hover {
      background-color: #0056b3;
      border-color: #0056b3;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px rgba(38, 143, 255, 0.5);
    }

    .btn-icon {
      font-size: 18px;
      margin: 0;
    }
  }

}


.file-info .btn-close {
  border-radius: 50px;
  padding: 8px 8px !important;
  background-color: transparent !important;
  height: 5px !important;
  width: 5px !important;
  display: block;
  border: none;

  &:focus {
    border: none !important;
  }
}

.file-info .btn-close:hover {
  border: none !important;
}

.file-info .btn-close:focus {
  box-shadow: none !important;
}

.dropzone {
  min-height: 400px;
  min-width: 400px;
  display: table;
  width: 100%;
  background-color: #eee;
  border: dotted 1px #aaa;
}

.uploaded-y svg,
.uploaded-y:hover svg {
  color: #F5B849 !important;
}

.uploaded-o svg,
.uploaded-o:hover svg {
  color: #FFA75D !important;
}

.esic-model .modal-content {
  height: 463px !important;
}

.swal-modal {
  font-family: $fonts;
}

.swal-modal {
  font-family: $fonts;
}

.upload-file {
  height: 28px;
  width: 28px;
  border-radius: $border6;
  background-color: #FBE6EC;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.download-file span {
  height: 28px;
  width: 28px;
  border-radius: $border6;
  background-color: #FEF7EC;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.download-file p {
  max-width: 315px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.popup-design.modal-dialog.right-sidebar-panel {
  max-width: 495px !important;
}


.w-10 {
  width: 7% !important;
}

.bg-secondary {
  background-color: #F7F1FD !important;
  transition: .2s;

  svg {
    transition: .2s;
    color: #B77BEF !important;
  }

  &:hover {
    background-color: #B77BEF !important;

    svg {
      color: $white-color !important;
    }
  }
}

.bg-orange {
  background-color: #FFF6EE !important;
  transition: .2s;

  svg {
    transition: .2s;
    color: #FFA75D !important;
  }

  &:hover {
    background-color: #FFA75D !important;

    svg {
      color: $white-color !important;
    }
  }
}

@media screen and (max-width:991px) {
  .card {
    margin: 0px !important;
  }
}

@media screen and (max-width:1560px) {
  .card {
    .client-cart {
      padding: 15px !important;

      .left-card-side {
        p {
          max-width: 90px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    // .row {
    //     gap: 16px;
    // }
  }

  // .client-cart,
  // .cart-design {
  //     max-width: 190px !important;
  //     min-width: 190px !important;
  // }
}

@media screen and (max-width:1299px) {


  // .client-cart,
  // .cart-design {
  //     max-width: 150px !important;
  //     min-width: 150px !important;
  // }



  // .card .row {
  //     gap: 15px;
  // }

  .left-card-side {
    order: 2;
    width: 100%;
    text-align: center;
  }

  .card-item {
    order: 1;
  }

  .main-client-card {
    flex-wrap: wrap;
  }

  .main-client-card {
    width: 100%;
  }

  .card .client-cart .left-card-side p {
    max-width: 100%;
  }

  .card .client-cart .card-item {
    margin: auto;
    margin-bottom: 10px;
  }
}

.main-client-card {
  display: flex;
}


@media screen and (max-width:767px) {
  .cart-design {
    max-width: 100% !important;
    padding-right: 0px !important;
  }

  .left-card-side {
    p {
      max-width: 100% !important;
      width: 100% !important;
    }
  }
}

@media screen and (min-width:546px) and (max-width: 767px) {
  .card .client-design {
    max-width: 33.33%;
  }

}

@media screen and (max-width: 991px) {
  .breadcrumb {
    margin-bottom: 18px !important;
  }
}

@media screen and (max-width:1099px) {
  .menu-collapsed {
    .card {
      .row {
        flex-wrap: wrap;
      }
    }

    .cart-design {
      width: 25% !important;
      max-width: 25% !important;
    }
  }
}

@media screen and (max-width:768px) {
  .menu-collapsed {
    .cart-design {
      width: 50% !important;
      max-width: 50% !important;
    }
  }
}


@media screen and (max-width:475px) {
  .menu-collapsed {
    .cart-design {
      width: 100% !important;
      max-width: 100% !important;
    }

  }
}

.file-error {
  border-color: $error-color !important;
}

.long-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
}

.mat-mdc-form-field-infix textarea {
  padding-top: 6px !important;
}

.icn-bg.bg-yellow:hover {
  svg {
    color: $white-color !important;
  }
}

.p-footerbtns {
  width: 100px;
}

.modal-footer-1 button {
  width: 140px !important;
}

.modal-footer {
  border-top: none !important;
}