@import '../../../../../styles/styles.scss';

table {
    tr {
        th {
            padding-top: 12px !important;
            padding-bottom: 12px !important;
            background-color: var(--light-theme) !important;
        }

        td {
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }
    }
}

.action-icn {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

::ng-deep .ng-select.w-100 {
    width: 100%;
}

.ng-select.ng-select-single .ng-select-container,
.ng-select-container {
    height: 40px !important;
    border-radius: 6px !important;
    background-color: $white-color !important;
    border: 1px solid #E0E6ED !important;
}

.ng-select.invalid-select .ng-select-container {
    border: 1px solid rgb(241, 45, 45) !important;
}