<div class="dashborad-main">
    <div class="container-fluid p-0">
        <div class="row m-4 mt-3 ms-0">
            <div class="col-12 ps-0">
                <!-- Breadcrumbs -->
                <app-breadcrumb></app-breadcrumb>
            </div>
        </div>
        <div class="row m-0 p-0 mb-4">
            <div class="col-12 mt-4">
                <div class="row">
                    <div class="col-12 p-0 col-lg-3">
                        <div class="row">
                            <div class="col-12">
                                <ng-select [items]="employeeDropdownData" bindLabel="fullName" bindValue="id"
                                    (change)="onEmployeChanges($event)" [(ngModel)]="employeeId"
                                    placeholder="Select Employee" class="selectemployee mb-2">
                                </ng-select>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12">
                                <div class="grouptable-bg">
                                    <table class="addGroup-table border-0">
                                        <tr class=" border-bottom-0" style="cursor: pointer;">
                                            <td class="d-flex justify-content-between"
                                                *ngFor="let item of assignedGroup"
                                                [ngClass]="{'active':selectedGroup === item.id}"
                                                (click)="assignedgroupClick(item)">
                                                <!-- active -->
                                                <p>{{item.groupName}}</p>
                                                <div class="action-icons">

                                                    <svg xmlns="http://www.w3.org/2000/svg" class="del-group"
                                                        width="18px" height="18px" viewBox="0 0 26 26"
                                                        (click)="onDeleteGroup(item);  $event.stopPropagation()"
                                                        mat-raised-button matTooltip="Delete"
                                                        [matTooltipPosition]="'right'"
                                                        [matTooltipShowDelay]="showDelay.value"
                                                        [matTooltipHideDelay]="hideDelay.value" aria-label="Delete">
                                                        <path fill="currentColor"
                                                            d="M11.5-.031c-1.958 0-3.531 1.627-3.531 3.594V4H4c-.551 0-1 .449-1 1v1H2v2h2v15c0 1.645 1.355 3 3 3h12c1.645 0 3-1.355 3-3V8h2V6h-1V5c0-.551-.449-1-1-1h-3.969v-.438c0-1.966-1.573-3.593-3.531-3.593zm0 2.062h3c.804 0 1.469.656 1.469 1.531V4H10.03v-.438c0-.875.665-1.53 1.469-1.53zM6 8h5.125c.124.013.247.031.375.031h3c.128 0 .25-.018.375-.031H20v15c0 .563-.437 1-1 1H7c-.563 0-1-.437-1-1zm2 2v12h2V10zm4 0v12h2V10zm4 0v12h2V10z" />
                                                    </svg>
                                                </div>
                                            </td>

                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-12">
                                <div class="grouptable-bg">
                                    <table class="addGroup-table border-0">
                                        <tr class=" border-bottom-0" style="cursor: pointer;">
                                            <td class="d-flex justify-content-between" *ngFor="let item of groupList"
                                                [ngClass]="{'active':selectedGroup === item.id}"
                                                (click)="groupClick(item)">
                                                <!-- active -->
                                                <p>{{item.groupName}}</p>

                                            </td>

                                        </tr>
                                    </table>
                                    <button type="submit" class="header-btn btn-save checks" (click)="save()">
                                        <p>Save</p>
                                        <svg class="d-none" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                            viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                d="M9.84 17.08a1 1 0 0 1-.707-.293l-3.84-3.84a1 1 0 1 1 1.414-1.414l3.133 3.133l7.453-7.453a1 1 0 0 1 1.414 1.414l-8.16 8.16a1 1 0 0 1-.707.293" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-9 p-0 mt-4 mt-lg-0 ps-lg-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="screen-title">
                                    <h5 class="font-medium">Screen Access</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12">
                                <div class="screen-table table-responsive">
                                    <table class="table mb-0">
                                        <tr class="d-flex justify-content-between screentabletitle">
                                            <th class="w-100 font-medium" style="font-weight: 500 !important;">
                                                {{selectedGroupName}} Menu Screens </th>
                                            <th class="font-medium" style="font-weight: 500 !important;">Permissions
                                            </th>
                                        </tr>
                                        <div class="manage_table ">
                                            <tr class="d-flex justify-content-between"
                                                *ngFor="let screen of screenPermissionsList">
                                                <td class="w-100" (click)="getScreenSubMenuList(screen)">
                                                    {{screen.screenName }}
                                                </td>
                                                <td>
                                                    <label class="toggle-btn">
                                                        <input type="checkbox" [(ngModel)]="screen.isPermission"
                                                            [disabled]="true" (change)="onSwitchChange(screen, $event)">
                                                        <span [class.bg-toggle-on]="screen.isPermission"
                                                            [class.bg-toggle-off]="!screen.isPermission"></span>
                                                    </label>
                                                </td>
                                            </tr>
                                        </div>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12">
                                <div #tableContainer class="table-responsive screen-table screen-permissiontable">
                                    <table class="">
                                        <tr class="screentabletitle d-flex justify-content-between w-100">
                                            <th class="w-25 fw-medium">{{selectedMenuName}} Permissions</th>
                                            <th class="text-center fw-medium" *ngFor="let item of permissionList">
                                                {{item.permissionType}}</th>
                                        </tr>
                                        <div class="manage_table  position-relative">
                                            <div class="height-manage">
                                                <tr class=" d-flex justify-content-between w-100"
                                                    *ngFor="let screen of subMenuList ; index as i">
                                                    <td class="w-25">{{
                                                        screen.subMenuName
                                                        }}</td>
                                                    <td class="text-center" *ngFor=" let permission of permissionList">
                                                        <ng-container>
                                                            <mat-checkbox class="example-margin"
                                                                [checked]="isCheckboxChecked(screen.menuPermissions, permission.id)"
                                                                [disabled]="true"
                                                                (change)="onCheckBoxChange(screen,permission, $event,i)" />
                                                        </ng-container>
                                                    </td>
                                                </tr>
                                            </div>
                                            <div
                                                class="table-footer py-3 px-3 bg-white position-sticky w-100 bottom-0 left-0 border-top justify-content-end d-flex">
                                                <button type="submit" class="header-btn btn-save checks"
                                                    (click)="submitPermission()">
                                                    <p>Save</p>
                                                    <svg class="d-none" xmlns="http://www.w3.org/2000/svg" width="1em"
                                                        height="1em" viewBox="0 0 24 24">
                                                        <path fill="currentColor"
                                                            d="M9.84 17.08a1 1 0 0 1-.707-.293l-3.84-3.84a1 1 0 1 1 1.414-1.414l3.133 3.133l7.453-7.453a1 1 0 0 1 1.414 1.414l-8.16 8.16a1 1 0 0 1-.707.293" />
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div bsModal #groupModel="bs-modal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
    data-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
    <div class="modal-dialog popup-design">
        <div class="modal-content px-4">
            <div class="modal-header popup-header justify-content-between d-flex">
                <h5 class="modal-title pt-2" id="exampleModalLabel">Add Group</h5>
                <span class="d-block" (click)="closeModel()">
                    <icon-ModalClose></icon-ModalClose>
                </span>
            </div>
            <form #formDirective="ngForm" [formGroup]="groupForm" (ngSubmit)="postGroup()" novalidate>
                <div class="modal-body bg-white pt-4 pb-3">
                    <div class="w-100 ">
                        <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                            <mat-label>Group Name</mat-label>
                            <input matInput placeholder="Group Name" formControlName="groupName" name="groupName"
                                required>

                        </mat-form-field>
                    </div>
                    <div class="w-100 mt-2 mb-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Description</mat-label>
                            <textarea matInput name="description" required rows="3" placeholder="Description"
                                formControlName="description" name="description"></textarea>

                        </mat-form-field>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-end align-items-end">
                    <button type="submit" class="btn btn-save p-footerbtns p-3">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>