<div class="borad-header p-0 d-flex align-items-center justify-content-between me-4 mt-2">
  <h4 class="innerform-title mb-3 ms-4 mt-3">
    <p *ngIf="showTitle">Asset Allocated</p>
  </h4>
  <div class="header-buttons d-flex" (click)="addDocument()">
    <div class="add-newBtn cursor mt-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
        <path fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M5 12h14m-7 7V5" />
      </svg>
      Add New
    </div>
  </div>
</div>
<!-- <div class="borad-body p-4">
  <div class="row gy-2">
    <p class="text-center py-3" *ngIf="documentData.length === 0">
      No data found
    </p>

    <div class="col-lg-6 col-12" *ngFor="let item of documentData">
      <div class="card-design">
        <div
          class="card-header py-3 d-flex justify-content-between px-4 align-items-center"
        >
          <p>{{ item.documentType }}</p>
          <div class="edit-icn d-flex">
            <div
              class="edit-icon d-flex justify-content-center align-items-center action-icn me-2 cursor"
              (click)="editdoc(item)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16px"
                height="30px"
                viewBox="0 0 36 36"
              >
                <path
                  fill="currentColor"
                  d="m4.22 23.2l-1.9 8.2a2.06 2.06 0 0 0 2 2.5a2 2 0 0 0 .43 0L13 32l15.84-15.78L20 7.4Z"
                  class="clr-i-solid clr-i-solid-path-1"
                />
                <path
                  fill="currentColor"
                  d="m33.82 8.32l-5.9-5.9a2.07 2.07 0 0 0-2.92 0L21.72 5.7l8.83 8.83l3.28-3.28a2.07 2.07 0 0 0-.01-2.93"
                  class="clr-i-solid clr-i-solid-path-2"
                />
                <path fill="none" d="M0 0h36v36H0z" />
              </svg>
            </div>

            <div
              class="delete-icon d-flex justify-content-center align-items-center action-icn cursor"
              (click)="deletedoc(item)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30px"
                height="18px"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6zM19 4h-3.5l-1-1h-5l-1 1H5v2h14z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="card-body p-4">
          <div class="row gy-2">
            <div class="col-6">
              <p>{{ item.documentNumber }}</p>
            </div>

            <div class="col-12">
              <div class="row">
                <div class="col-12 mt-2 d-flex justify-content-center">
                  <div class="document-img">
                    <img [src]="baseImageURL + item.documentPath" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<table class="w-100 position-relative table tr-table-hover table mt-3">
  <tr class="boredr-bottom">
    <th class=" ps-4 cursor fw-medium">Serial No.</th>
    <th class=" ps-4 cursor fw-medium">Type</th>
    <th class=" ps-4 cursor fw-medium">Details</th>
    <th class=" ps-4 cursor fw-medium text-center">View File</th>
    <!-- <th class="text-start cursor">View</th> -->
    <th class="text-end cursor fw-medium pe-5">Action</th>
  </tr>
  <tr class="text-center" *ngIf="documentData.length === 0">
    <td colspan="100%" class="text-center" style="padding-top:12px !important; padding-bottom:12px !important;">No data
      found</td>
  </tr>
  <tr class="text-center" *ngFor="let item of documentData; let i = index">
    <td class="text-start ps-4">{{ i + 1 }}</td>
    <td class="text-start ps-4">{{ item.documentType }}</td>
    <td class="text-start ps-4">{{ item.documentName }}</td>
    <!-- style="float: left" -->
    <td class="text-center pe-0">
      <div class="attributes-icon d-flex  cursor justify-content-center" (click)="viewDocument(item)">
        <span class="icn-bg bg-skyblue">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 32 32">
            <circle cx="16" cy="16" r="4" fill="currentColor"></circle>
            <path fill="currentColor"
              d="M30.94 15.66A16.69 16.69 0 0 0 16 5A16.69 16.69 0 0 0 1.06 15.66a1 1 0 0 0 0 .68A16.69 16.69 0 0 0 16 27a16.69 16.69 0 0 0 14.94-10.66a1 1 0 0 0 0-.68M16 22.5a6.5 6.5 0 1 1 6.5-6.5a6.51 6.51 0 0 1-6.5 6.5">
            </path>
          </svg>
        </span>
      </div>
    </td>
    <td class="d-flex align-items-center justify-content-end w-100 pe-4 edit-icns" style="float: left">
      <div class="d-flex gap-2 justify-content-center p-0" style="width: 72px;">
        <div class="edit-icon d-flex justify-content-center align-items-center action-icn cursor"
          (click)="editDoc(item)">
          <span class="icn-bg bg-skyblue" mat-raised-button matTooltip="Edit" [matTooltipPosition]="'left'"
            [matTooltipShowDelay]="showDelay.value" [matTooltipHideDelay]="hideDelay.value" aria-label="Edit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="30px" viewBox="0 0 36 36">
              <path fill="currentColor"
                d="m4.22 23.2l-1.9 8.2a2.06 2.06 0 0 0 2 2.5a2 2 0 0 0 .43 0L13 32l15.84-15.78L20 7.4Z"
                class="clr-i-solid clr-i-solid-path-1" />
              <path fill="currentColor"
                d="m33.82 8.32l-5.9-5.9a2.07 2.07 0 0 0-2.92 0L21.72 5.7l8.83 8.83l3.28-3.28a2.07 2.07 0 0 0-.01-2.93"
                class="clr-i-solid clr-i-solid-path-2" />
              <path fill="none" d="M0 0h36v36H0z" />
            </svg>
          </span>
        </div>

        <div class="delete-icon d-flex justify-content-center align-items-center action-icn cursor"
          (click)="deleteDoc(item)" mat-raised-button matTooltip="Delete" [matTooltipPosition]="'right'"
          [matTooltipShowDelay]="showDelay.value" [matTooltipHideDelay]="hideDelay.value" aria-label="Delete">
          <span class="icn-bg bg-red">
            <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="18px" viewBox="0 0 24 24">
              <path fill="currentColor" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6zM19 4h-3.5l-1-1h-5l-1 1H5v2h14z" />
            </svg>
          </span>
        </div>
      </div>
    </td>
  </tr>
</table>
<!-- Finacial Details popup modal -->
<div bsModal #AddFinacialDetailsModel="bs-modal" class="modal fade document-modal" tabindex="-1"
  aria-labelledby="exampleModalLabel" [config]="{ backdrop: 'static' }" aria-hidden="true" data-bs-backdrop="static"
  data-bs-keyboard="false">
  <div class="modal-dialog popup-design right-sidebar-panel">
    <div class="modal-content px-2">
      <div class="modal-header popup-header justify-content-between d-flex">
        <h5 class="modal-title" id="exampleModalLabel">
          Asset Details
        </h5>
        <span class="d-block" (click)="addFinacialDetailsModel?.hide()">
          <icon-ModalClose></icon-ModalClose>
        </span>
      </div>
      <div class="modal-body bg-white py-4">
        <form [formGroup]="documentForm" #formDirective="ngForm">
          <div class="row gy-2">
            <div class="col-12">
              <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                <mat-label>Type</mat-label>
                <input matInput name="documentType" formControlName="documentType"
                  oninput="this.value = this.value.toUpperCase()" />
                <!-- <mat-select formControlName="type" (selectionChange)="onTypeChange($event)">
                                    <mat-option *ngFor="let item of documentTypeList"
                                        [value]="item.id">{{item.documentType}}</mat-option>
                                </mat-select> -->
              </mat-form-field>
            </div>

            <div class="col-12">
              <mat-form-field appearance="outline" class="w-100 custom-mat-form-field" style="float: left">
                <mat-label>Details</mat-label>

                <input matInput name="documentName" formControlName="documentName"
                  oninput="this.value = this.value.toUpperCase()" />
              </mat-form-field>
            </div>

            <!-- <h4 class="innerform-title fw-medium pb-2 mt-2">Document</h4> -->
            <div class="col-12 pt-0 mt-2">
              <div class="cursor" *ngIf="!files.length" appDrag (files)="filesDropped($event)"
                (fileSizeError)="handleFileSizeErrors($event)" (click)="triggerProfileFileInput(fileInput)">
                <div
                  class="input-group choose-file dragdrop-file d-flex flex-wrap w-100 flex-wrap justify-content-center">
                  <div class="browse-icn w-100 text-center mb-2">
                    <icon-BrowsFile></icon-BrowsFile>
                  </div>

                  <p class="w-100 text-center mb-1">Drag & Drop Upload File</p>
                  <span class="w-100 text-center mb-1">OR</span>
                  <button class="browse-btn">Browse File</button>
                  <input type="file" #fileInput style="display: none" accept=".jpg,.jpeg,.png" name="profilePicPath"
                    formControlName="profilePicPath" (change)="onDocumentFileSelected($event)" />
                </div>
              </div>

              <div class="file-info mt-0" *ngFor="let file of files">
                <i *ngIf="
                    file.name.endsWith('.xls') || file.name.endsWith('.xlsx')
                  " class="fas fa-file-excel me-2" style="color: red"></i>
                <span class="file-name">{{ file.name }}</span>
                <button type="button" class="btn btn-close" (click)="removeFile()"></button>
              </div>
            </div>

            <div class="modal-footer popup-footer px-0 d-flex mt-3">
              <button type="submit" class="btn btn-save mx-0 p-footerbtns w-100" (click)="submit()">
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>