<div class="dashborad-main m-4 mt-0 mb-0 payroll-height">
    <div class="row m-4 ms-0 mt-3 mb-3">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <app-breadcrumb></app-breadcrumb>
        </div>
    </div>
    <div class="main-board position-relative px-0 pb-0 h-full">
        <div class="row">
            <div class="col-12">
                <div class="board-header d-flex justify-content-between px-4 py-3 flex-wrap gy-2">
                    <div class="board-title d-flex align-items-center" style="font-size: 18px;">
                        Payroll
                    </div>
                    <div class="board-right d-flex flex-wrap">
                        <ng-container>
                            <ng-container *ngIf="payrollEmployeeSummaryData.status === 145">
                                <button class="d-flex me-3 header-btn offer-btn btn-theme btn-purple"
                                    (click)="regenratePayroll()"
                                    style="padding-left: 18px !important; padding-right: 18px !important;">
                                    <svg class="me-2" fill="#fff" height="1em" width="1em" version="1.1" id="Layer_1"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        viewBox="0 0 367.136 367.136" xml:space="preserve">
                                        <path d="M336.554,86.871c-11.975-18.584-27.145-34.707-44.706-47.731L330.801,0H217.436v113.91L270.4,60.691
                                        c40.142,28.131,65.042,74.724,65.042,124.571c0,83.744-68.13,151.874-151.874,151.874S31.694,269.005,31.694,185.262
                                        c0-58.641,32.781-111.009,85.551-136.669l-13.119-26.979C73.885,36.318,48.315,59.1,30.182,87.494
                                        c-18.637,29.184-28.488,62.991-28.488,97.768c0,100.286,81.588,181.874,181.874,181.874s181.874-81.588,181.874-181.874
                                        C365.442,150.223,355.453,116.201,336.554,86.871z" />
                                    </svg>
                                    <p>Re-Generate</p>
                                </button>
                            </ng-container>
                            <div class="d-flex">
                                <ng-container *ngIf="payrollEmployeeSummaryData.status === 145 && !isCheckboxChecked">
                                    <button class="d-flex me-3 header-btn offer-btn btn-green"
                                        (click)="StatusChangeofPayroll(1)"
                                        style="padding-left: 18px !important; padding-right: 18px !important;">
                                        <svg class="me-2" xmlns="http://www.w3.org/2000/svg" version="1.1"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="14px" height="14px" x="0"
                                            y="0" viewBox="0 0 434.677 434" style="enable-background:new 0 0 512 512"
                                            xml:space="preserve">
                                            <g>
                                                <path
                                                    d="M152.004 304.344c-5.461 0-10.922-2.09-15.082-6.25L6.258 167.426c-8.344-8.34-8.344-21.824 0-30.164 8.34-8.34 21.82-8.34 30.164 0l115.582 115.582L398.258 6.594c8.34-8.34 21.82-8.34 30.164 0 8.34 8.343 8.34 21.824 0 30.168L167.09 298.094a21.282 21.282 0 0 1-15.086 6.25zm0 0"
                                                    fill="#093f09" opacity="1" data-original="#000000"></path>
                                            </g>
                                        </svg>
                                        <p>Approved</p>
                                    </button>
                                </ng-container>
                                <ng-container *ngIf="payrollEmployeeSummaryData.status === 145 && !isCheckboxChecked">
                                    <button class="d-flex me-3 header-btn offer-btn btn-yellow"
                                        (click)="StatusChangeofPayroll(2)"
                                        style="padding-left: 18px !important; padding-right: 18px !important;">
                                        <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                d="M18.3 5.71a.996.996 0 0 0-1.41 0L12 10.59L7.11 5.7A.996.996 0 1 0 5.7 7.11L10.59 12L5.7 16.89a.996.996 0 1 0 1.41 1.41L12 13.41l4.89 4.89a.996.996 0 1 0 1.41-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4" />
                                        </svg>
                                        <p>Rejected</p>
                                    </button>
                                </ng-container>
                            </div>
                            <ng-container *ngIf="payrollEmployeeSummaryData.status === 145">
                                <button class=" d-flex me-3 header-btn offer-btn" (click)="deleteRecorde()"
                                    style="padding-left: 18px !important; padding-right: 18px !important; background-color: rgba(255, 0, 0,0.06);">
                                    <svg style="color: red;" class="me-2" xmlns="http://www.w3.org/2000/svg"
                                        width="1.1em" height="1.1em" viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zM9 17h2V8H9zm4 0h2V8h-2zM7 6v13z" />
                                    </svg>
                                    <p style="color: red;">Delete</p>
                                </button>
                            </ng-container>
                            <ng-container
                                *ngIf="payrollEmployeeSummaryData.status === 145 || payrollEmployeeSummaryData.status === 146 || payrollEmployeeSummaryData.status === 147">

                                <button *ngIf="!isCheckboxChecked"
                                    class="edit-btn header-btn d-flex justify-content-center align-items-center"
                                    (click)="exportData(payrollEmployeeSummaryData)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.1em" height="1.1em"
                                        viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M5.552 20.968a2.577 2.577 0 0 1-2.5-2.73c-.012-2.153 0-4.306 0-6.459a.5.5 0 0 1 1 0c0 2.2-.032 4.4 0 6.6c.016 1.107.848 1.589 1.838 1.589h12.463A1.55 1.55 0 0 0 19.825 19a3 3 0 0 0 .1-1.061v-6.16a.5.5 0 0 1 1 0c0 2.224.085 4.465 0 6.687a2.567 2.567 0 0 1-2.67 2.5Z" />
                                        <path fill="currentColor"
                                            d="M12.337 3.176a.46.46 0 0 0-.311-.138q-.021.002-.043-.006c-.022-.008-.027 0-.041.006a.46.46 0 0 0-.312.138L7.961 6.845a.5.5 0 0 0 .707.707l2.816-2.815v10.742a.5.5 0 0 0 1 0V4.737L15.3 7.552a.5.5 0 0 0 .707-.707Z" />
                                    </svg>
                                    <p>Export</p>
                                </button>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
                <div class="table-scroll parent-container">
                    <!-- <table class="table"> -->
                    <!-- <thead>

                            <tr class="my-2 first-child group-header" *ngFor="let item of groupedArray">
                                <th colspan="7" class="text-center fw-medium  border-right">
                                    <p>{{item.groupName}}</p>
                                </th>
                            <th colspan="6" class="text-center fw-medium  border-right">Data Received from
                                    Site during
                                    monthly attendance</th>
                                <th colspan="7" class="text-center fw-medium  border-right">Based on Calculation
                                    and Added in
                                    CTS</th>
                                <th colspan="6" class="text-center fw-medium  border-right">Deductions</th>
                                <th class="text-center fw-medium  py-3">In Hand</th>
                                <th colspan="7" class="text-center fw-medium  border-right">Employeer Side add in
                                    CTC</th>
                                <th colspan="6" class="text-center fw-medium "></th> 
                            </tr>
                            <tr class="my-2 first-child">
                                <th></th>
                                <th class="text-dark pe-2 w-10 p-2 cursor fw-medium ng-star-inserted">
                                    Employee Name</th>
                                <th *ngFor="let attribute of payrollData?.payrollAttributes"
                                    class="text-dark pe-2 w-10 p-2 cursor fw-medium ng-star-inserted">
                                    {{ attribute.name }}
                                </th>
                            </tr>
                        </thead> -->
                    <!-- <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <ng-container *ngFor="let group of groupedArray">
                                    <th [attr.colspan]="group.items.length"
                                        class="text-center fw-medium  border-right">{{ group.groupName }}</th>
                                </ng-container>
                            </tr>
                            <tr>
                                <th></th>
                                <th class="text-dark pe-2 w-10 p-2 cursor fw-medium ng-star-inserted">
                                    Employee Name</th>
                                <ng-container *ngFor="let group of groupedArray">
                                    <ng-container *ngFor="let item of group.items">
                                        <th class="text-center ">{{ item.name }}</th>
                                    </ng-container>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf=" !payrollData || !payrollData.payrollEmployeeSummaries.length">
                                <td colspan="5" class="text-center">
                                    <p class="py-3">No data found</p>
                                </td>
                            </tr>
                            <tr *ngFor="let summary of payrollData?.payrollEmployeeSummaries">
                                <td style="line-height: 42px;"><input type="checkbox" /></td>
                                <td style="line-height: 39px;">{{ summary.name }}</td>
                                <td *ngFor="let attribute of payrollData?.payrollAttributes">
                                    {{ findPayrollValue(summary.payrollValues, attribute.id) }}
                                </td>
                               
                            </tr>
                        </tbody>
                    </table> -->
                    <table class="table">
                        <thead>
                            <!-- Group Headers -->
                            <tr class="first-child group-header">
                                <th></th>
                                <th></th>
                                <ng-container *ngFor="let group of groupedArray; let lastGroup = last">
                                    <th class="ps-4 pe-3" [attr.colspan]="group.items.length"
                                        class="text-center fw-medium border-right border-left">
                                        {{ group.groupName }}
                                    </th>
                                </ng-container>
                            </tr>
                            <!-- Item Headers -->
                            <tr>
                                <th></th>
                                <th class="text-dark py-2 w-10 ps-4 pe-3  cursor fw-medium ng-star-inserted">
                                    Employee Name</th>
                                <ng-container *ngFor="let group of groupedArray; let i = index">
                                    <ng-container *ngFor="let item of group.items; let j = index">
                                        <th class="text-dark py-2 w-10 ps-4 pe-3  cursor fw-medium"
                                            [ngClass]="{ 'border-right': groupedArray[i].items.length == j +1 , 'border-left': j == 0}">
                                            {{ item.name }}

                                        </th>
                                    </ng-container>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let summary of payrollData.data" [ngClass]="{'highlight': summary.isSelected}">

                                <td style="line-height: 42px;" class="ps-4 pe-3 border-bottom">
                                    <input type="checkbox" (change)="toggleCheckbox()" [value]="summary.employeeId"
                                        [(ngModel)]="summary.isSelected" class="cursor"
                                        (change)="onEmployeeSelectionChange(summary)"
                                        [disabled]="payrollEmployeeSummaryData.statusName != 'Pending Approval'" />
                                </td>
                                <td style="line-height: 39px;" class="ps-4 pe-3">{{ summary.name }}</td>


                                <ng-container *ngFor="let group of groupedArray; let i = index">
                                    <ng-container *ngFor="let item of group.items; let j = index">
                                        <ng-container *ngFor="let row of summary.payrollValues">
                                            <td [ngClass]="{ 'border-right': groupedArray[i].items.length === j+1 , 'border-left': j == 0 }"
                                                *ngIf="item.id == row.id" class="ps-4 pe-3">
                                                {{ row.value || '0' }}
                                            </td>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="borad-footer d-flex justify-content-between bg-white position-sticky bottom-0 w-100 py-2 px-4 border-top flex-wrap"
                    style="transform: translateY(20px);">
                    <div class="footer-left d-flex align-items-center flex-nowrap">
                        <select class="form-control w-auto" id="daumEnumName" name="enumName" [(ngModel)]="recodeCount"
                            (change)="onRecodeChange()">
                            <option *ngFor="let count of [10, 25, 50, 100]" [value]="count">{{ count }}</option>
                        </select>
                        <p class="align-self-center ms-3 mb-0 text-black-50">Showing {{startItem + 1}} to
                            {{endItem > totalCount ? totalCount : endItem}} of {{totalCount}} entries</p>
                    </div>
                    <div class="footer-paginations pagination-lg">
                        <pagination [boundaryLinks]="true" [totalItems]="totalCount" [itemsPerPage]="recodeCount"
                            [maxSize]="5" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"
                            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>