@import '../../../../../styles/styles.scss';

table {
    tr{
        th{
            padding-top: 12px !important;
            padding-bottom: 12px !important;
            background-color: var(--light-theme);
        }
        td{
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }
    }
}