<!-- code type section start-->

<div class="container-fuild p-0 m-0">
    <div class="row m-0 p-0">
        <div class="col p-0 m-0">
            <div class="row p-0 m-0">
                <div class="col p-0 m-0 mb-4 fix-height">
                    <!-- master content start -->
                    <tg-grid [columns]="columns" [rowData]="rowData" [totalCount]="totalCount"
                        [exportVisibility]="false" [title]="selectedCodeType" (edit)="onEdit($any($event))"
                        (delete)="onDelete($any($event))" (insert)="addCode()" [isVisibleDisplayedColoum]="false"
                        (recodeValueChange)="onRecodeValueChange($event)" (pageNumber)="onPageChange($event)"
                        (switchChange)="onSwitchChange($event)" (searchTearm)="onSearch($event)"
                        [isBreadCurmbsShow]="false" (orderBy)="orderBy($event)">
                    </tg-grid>
                    <!-- master content end -->
                </div>
            </div>
        </div>
    </div>
</div>


<div bsModal #codeModel="bs-modal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog popup-design">
        <div class="modal-content px-4">
            <div class="modal-header popup-header justify-content-between d-flex">
                <h5 class="modal-title pt-2" id="exampleModalLabel">Create/Edit Designation</h5>
                <span class="d-block" (click)="codeModel?.hide()">
                    <icon-ModalClose></icon-ModalClose>
                </span>
            </div>
            <form #codeForm="ngForm" (ngSubmit)="onSubmit(codeForm)">
                <div class="modal-body bg-white pt-4 pb-3">
                    <div class="w-100 mb-3 pb-2">
                        <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Name" [(ngModel)]="codeDataModel.name" name="name"
                                #name="ngModel" required>
                        </mat-form-field>
                    </div>
                    <div class="w-100 mt-3 mb-2">
                        <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                            <mat-label>Enum Value</mat-label>
                            <input matInput placeholder="Enum Value" [(ngModel)]="codeDataModel.enumItem"
                                name="enumItem" #enumItem="ngModel" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="modal-footer popup-footer d-flex">
                    <button type="submit" class="btn btn-save p-footerbtns">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>