@import '../../../../../../styles/styles.scss';


h2 {
    text-align: center;
    margin-bottom: 20px;
}


.login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login,
.image {
    min-height: 100vh;
}

.bg-image {
    //   background-image: url('https://res.cloudinary.com/mhmd/image/upload/v1555917661/art-colorful-contemporary-2047905_dxtao7.jpg');
    background-size: cover;
    background-position: center center;
}

.login-box {
    background-color: #fff;
    border-radius: 20px;
    padding: 50px 30px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.19);

    .form-heading {
        text-align: center;

        h3 {
            font-size: 25px;
            letter-spacing: 1px;
        }

        p {
            font-weight: $font-medium;
            color: rgba(0, 0, 0, 0.6);
        }
    }

    .forget-link {
        color: #4D81E7;
        text-decoration: none;
        position: relative;
        z-index: 99;
    }

    .material-icons {
        font-size: 21px;
        padding: 7px 15px !important;
    }

    .login-btn {
        font-family: $fonts;
        color: $white-color;
        background-color: $form-theme;
        border: 1px solid $form-theme;
        border-radius: $border8;
        font-size: 16px;
        transition: .3s;
        position: relative;
        z-index: 2;
        overflow: hidden;
        text-transform: capitalize !important;
        letter-spacing: 0.5px;

        &:hover {
            box-shadow: rgba(66, 66, 66, 0.2) 0px 8px 24px;
        }
    }
}

.login {
    height: 100vh;
    background-color: #F6FAFF;

    .container-c {
        width: 100%;
        padding: 0px;
        height: 100%;

        .login-content {
            padding-left: 150px;
            background-image: url(../../../../../../assets/image/left-form-bg.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 70%;

            .login-warpper {
                padding-right: 100px;

                h3 {
                    font-size: 50px;
                }

                h1 {
                    font-size: 65px;
                    color: $form-theme;
                    margin-top: 30px !important;
                    line-height: 60px;
                }

                p {
                    margin-top: 30px !important;
                }
            }

            @media only screen and (max-width:1024px) {
                width: 65% !important;
                padding-left: 60px !important;

                .login-warpper {
                    padding-right: 120px;

                    h3 {
                        font-size: 40px;
                    }

                    h1 {
                        font-size: 50px;
                        color: $form-theme;
                        line-height: 56px !important;
                    }
                }
            }

            @media only screen and (max-width:768px) {
                display: none !important;
            }
        }

        .form-design {
            // width: 35%;
            padding-top: 80px;


            .logo-img {
                img {
                    @media only screen and (max-width:1366px) {
                        width: 180px !important;
                    }

                }
            }

            @media only screen and (max-width:768px) {
                padding-top: 0px !important;
            }

            .login-container {
                margin-top: 100px;
                width: 400px;
                left: -100px;
                padding: 50px;
                border-radius: 20px;
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
                background-color: $white-color;

                // form design
                @media only screen and (max-width:1299px) {
                    width: 400px !important;
                    padding: 50px !important;
                }

                @media only screen and (max-width:1024px) {
                    left: -120px !important;
                    width: 380px !important;
                    padding: 40px !important;
                }

                .form-heading {
                    h4 {
                        font-size: 25px;
                        color: $text-heading-color;
                    }

                    p {
                        font-size: 15px;
                        color: $text-heading-color;
                    }

                    span {
                        height: 3px;
                        width: 120px;
                        border-radius: 50px;
                        display: inline-block;
                        background-color: $form-theme;
                        position: relative;

                        &::after,
                        &::before {
                            content: '';
                            height: 3px;
                            width: 3px;
                            position: absolute;
                            background-color: $form-theme;
                            right: -5px;
                            border-radius: 50px;
                            top: 0;
                        }

                        &::before {
                            right: -10px;
                        }
                    }
                }

                .form-control {
                    width: 100%;
                }

                .forget-link {
                    a {
                        font-size: 13px;
                        color: $theme-blue;
                        text-decoration: none !important;
                        font-family: $fonts !important;
                        cursor: pointer;
                    }
                }

            }

            @media only screen and (max-width:768px) {
                width: 100% !important;
                margin: auto;

                .logo-img {
                    padding: 0px 15px !important;
                    text-align: center !important;
                    margin: 0px !important;
                }

                .login-container {
                    position: static !important;
                    margin: 0px auto !important;
                    margin-top: 80px !important;
                }
            }

            @media only screen and (max-width:428px) {
                .login-container {
                    width: auto !important;
                    margin: 0px 15px !important;
                    margin-top: 50px !important;
                }
            }
        }
    }
}


.right-login {
    h2 {
        font-size: 45px;
        line-height: 55px;
        color: #fff;
        font-weight: 500;
        text-align: center;
        position: relative;
        z-index: 999;
        font-family: $fonts;
    }

    p {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.8);
        width: 100%;
        line-height: 25px;
        text-align: center;
        position: relative;
        z-index: 999;
        font-family: $fonts;

    }

    .main-img-box {
        text-align: center;
        position: relative;
        z-index: 999;
    }
}

.right-login {
    background-image: url(../../../../../../assets/image/background.jpg);
    width: 100%;
    margin: 20px;
    border-radius: 20px;
    padding: 50px;
    position: relative;
    z-index: 999999;
    height: calc(100vh - 40px);
}

.right-login::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    border-radius: 20px;
    background-color: rgba(66, 133, 244, 0.95);
}

.main-img-box img {
    width: 80%;
}


@media only screen and (max-width:1366px) {
    .form-container {
        width: 75% !important;
    }
}

@media only screen and (max-width:1400px) {

    .main-img-box img {
        width: 70%;
        margin-top: 32px !important;
    }

    .right-login h2 {
        font-size: 35px;
        line-height: 46px;
    }

    .right-login p {
        font-size: 13px;
        margin-top: 15px !important;
    }

}

@media only screen and (max-width:1199px) {

    .main-img-box img {
        width: 70%;
    }

    .right-login h2 {
        font-size: 32px;
        line-height: normal;
    }


}

@media only screen and (max-width:1023px) {

    .main-img-box img {
        width: 70%;
    }

    .right-login h2 {
        font-size: 28px;
        line-height: normal;
    }

}

@media only screen and (max-width:991px) {
    .form-container {
        width: 90% !important;
    }
}

input::-ms-reveal {
    display: none !important;
}