<nav *ngIf="breadcrumbs.length > 0">
  <ul class="breadcrumb">
    <li *ngFor="let breadcrumb of breadcrumbs; let last = last">
      <ng-container *ngIf="!last">
        <a href="#" class="home-icn" *ngIf="breadcrumb.label == 'Home'">
          <icon-breadcrumbsHome></icon-breadcrumbsHome>
        </a>
        <a [routerLink]="breadcrumb.url" *ngIf="breadcrumb.label != 'Home'">{{ breadcrumb.label }}</a>
        <a class="greter-icn">
          <icon-breadcrumbsNext></icon-breadcrumbsNext>
        </a>
      </ng-container>
      <ng-container *ngIf="last">
        {{ breadcrumb.label }}
      </ng-container>
    </li>
  </ul>
</nav>